/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "mixins";

body {
    height: 100%;
}

.container{
	width: 100%;
	height:100%;

	.test-1{
		margin:30px;
	}

	// 尖角波浪线
	/* 
	
	gradient(从0-45度透明，45-55为红色渐变，55-100透明)

	 */
	.error {
	    position: relative;
	}
	.error::before {
	    content: '';
	    position: absolute;
	    bottom: -0.125em;
	    width: 100%;
	    height: 0.25em;
	    background: -webkit-linear-gradient(315deg, transparent, transparent 45%, #dc3912, transparent 55%, transparent 100%), -webkit-linear-gradient(45deg, transparent, transparent 45%, #dc3912, transparent 55%, transparent 100%);
	    background-size: 0.5em 0.5em;
	    background-repeat: repeat-x, repeat-x;
	}


	 // 圆角波浪线
	.test-2{
		width: 300px;
	    height: 10px;
	    background-image: -webkit-radial-gradient(circle, transparent, transparent 9px, orange 9px, orange 10px, transparent 10px, transparent);
	    background-image: -moz-radial-gradient(circle, transparent, transparent 9px, orange 9px, orange 10px, transparent 10px, transparent);
	    background-image: radial-gradient(circle, transparent, transparent 9px, orange 9px, orange 10px, transparent 10px, transparent);
	    background-size: 20px 20px;
	}

	/* 
		施工中。。。。
		1、http://blog.cxycs.com/demos/css3-shape/
		2、http://www.w3cplus.com/css3/understanding-css-animation-fill-mode-property.htmlssss
	 */
}

 
