
/* 
refer:
https://blog.arvinh.info/2016/08/06/%E5%BF%AB%E9%80%9F%E5%AF%A6%E4%BD%9C-CSS3-%E6%89%93%E5%AD%97%E5%8B%95%E7%95%AB/
http://www.cnblogs.com/dolphinX/p/4087817.html


 */
@import "partials/mixins";
@import "partials/keyframes";



html{
	margin: 0;
	padding:0;
}
body{
	margin: 0;
	padding:0;
	overflow: hidden;
	font: 20px/1.5 Verdana, '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}

.container{
	perspective:500px;
	width: 100%;
    height: 3000px;
    float: left;

    @include animation("bg_change .3s linear 1s forwards,bg_change_sec .3s linear 13s forwards");

	.google_view{
		background: url(../images/google_view.png) 0 0 no-repeat;
		width: 600px;
		height: 350px;
		margin: 100px auto;
		position: relative;

		transform-origin: left bottom;
		@include animation("zoom_out 15s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards,zoom_left 1s steps(3) 8.36s forwards,switch .1s linear 9.35s forwards");


		.typed{
		  width: 9em;
		  height: 25px;
		  overflow: hidden;
		  white-space: nowrap;
		  border-right: .05em solid;
		  position: absolute;
		  bottom: 28%;
		  left: 3%;

		  @include animation("typing 1s steps(12),caret 1s steps(1) forwards,typing_none 1.7s steps(12) 7.65s forwards");
		}

		.type_wait{
	  	    width: 0px;
	  	    height: 25px;
	  	    overflow: hidden;
	  	    border-right: 0em solid;
	  	    // float: right;
	  	    position: absolute;
	  	    bottom: 28%;
  	        left: 33%;

  	        &:nth-child(2){
  	        	@include animation("typing_back 2s steps(2) 1.50s forwards,caret_sec 2s steps(1) 1.50s forwards");
  	        }
  	        &:nth-child(3){
  	        	@include animation("typing_back 2s steps(2) 3.50s forwards,caret_thir 2s steps(1) 3.50s forwards");
  	        }
  	        &:nth-child(4){
  	        	@include animation("typing_back 2s steps(2) 5.50s forwards,caret_four 2s steps(1) 5.50s forwards");
  	        }

		}
	}

	.weibo{
		// visibility: hidden;
		// overflow: hidden;
		width: 0px;
		position: absolute;
		top:0;
		left:25%;
		transform-origin:top left;
		// 9.45s、11.65s、14s
		@include animation("page_move 3s ease-out 0s forwards,page_move_sec 0.77s ease-in 5.3s forwards");

		&:before{
			content: "";
		    width: 1111px;
		    height: 400px;
		    position: absolute;
		    left:-100px;
		    top:-20px;
		    filter: blur(8px);
		    background: white;
			@include animation("shade 3s ease-out 0s forwards");

		}
		.shade{
			position: absolute;
			width: 0%;
		    height: 15px;
		    font-size:10px;
		    color:#FCFCFC;
		    overflow: hidden;
		    white-space: nowrap;
		    bottom: 38%;
		    left: 30%;
		    @include animation('words_show 2.5s linear 3s forwards');
		}
	}
	.session{
		position: absolute;
	    top: 635px;
	    left: 25%;
	    opacity: 0;
	    transform:rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
	    @include animation("content_move 3s ease-in 5.3s forwards");

	}
	.session_1{
		margin: 0 auto;
	    width: 285px;
	    height: 100px;

		@include animation("session_back 2s linear 3s forwards");

		.ball{
			width: 100px;
			height: 100px;
			background: black;
			margin:0 auto;
			border-radius: 100px;
		    margin: 0 auto;
		    transform:translate3d(0px,350px,0px) scale(1);
		    @include animation("ball_move 1s ease-in-out 0s forwards,ball_move_sec .8s ease-in-out 1s infinite");

		    &:before{
		    	
		    }

		}
		.ball_shade{
	    	width: 20px;
	    	height: 2px;
	    	position: absolute;
    	    bottom: -378%;
	        left: -112.2%;
	    	border-bottom:0px solid;
	    	filter:blur(4px);
	    	@include animation("ball_shade .8s ease-in-out 1s infinite");
		}
	}
	.session_2{
		width: 40%;
		height: 500px;
		margin: 10% auto 0;
		text-indent: 20px;
		opacity: 0;
		@include animation("text_show .5s linear 1.8s forwards,session_back 2s linear 3s forwards");

		li{
			text-shadow:50px 30px 27px black;
			font-size:30px;
		}
	}
	.session_3{
		width: 85%;
		height: 3000px;
		// overflow: hidden;
		position: absolute;
		left: 15%;
		top:5%;

		@include animation("p1_move 1s linear 7s forwards,p1_move_sec .5s linear 13s forwards");

		ul.first{

			li{
				float:left;
				width: 300px;
				height: 500px;
				margin: 0 10px;
				list-style:none;
				

				&:nth-child(1){
					background: url(../images/1.jpg) 0 0 no-repeat;
					background-size: cover;
					transform:translateX(1600px);
					@include animation("p1_show .3s linear 5s forwards");
				}
				&:nth-child(2){
					background: url(../images/2.jpg) 0 0 no-repeat;
					background-size: cover;
					transform:translateX(1300px);
					@include animation("p1_show .4s linear 5.3s forwards");
				}
				&:nth-child(3){
					background: url(../images/3.jpg) 0 0 no-repeat;
					background-size: cover;
					transform:translateX(1000px);
					@include animation("p1_show .5s linear 5.7s forwards");
				}
				&:nth-child(4){
					background: url(../images/4.jpg) 0 0 no-repeat;
					background-size: cover;
					transform:translateX(700px);
					@include animation("p1_show .6s linear 6.2s forwards");
				}
			}

		}

		.content{
			display: inline-block;
			width: 85%;
			margin: 50px 0;
			text-align: center;
			font-size: 30px;
			color: #EA4462;
			font-weight:bold;
			transform:translateX(1700px);
			letter-spacing:5px;
			@include animation("p1_show .5s linear 5.7s forwards");
		}

		ul.second{
			width: 85%;
			perspective:2000px;
			@include animation("p2_move 1s ease-in-out 9s forwards,p2_move_sec 1s ease-in-out 10s forwards");

			li{
				float:left;
				margin:10px;
				list-style:none;
				opacity: 0;

				&:before{
					content:"";
					color: black;
					font-size:100px;
					background: #C5A8AC;
					display:inline-block;
					font-weight:bold;
					padding:0px;
					width: 100%;
					height: 100%;
					text-align:center;
					border:1px solid #9A8784;
					transform:rotateY(-40deg);
					opacity: 0;
					@include animation("p2_bg_rotate .3s ease-in-out 11s forwards");

				}

				&:nth-child(1){
					background: url(../images/P60304-083830.jpg) 0 0 no-repeat;
					background-size: cover;
					width: 600px;
					height: 500px;
					transform:translateX(-150px);					
					@include animation("p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s forwards,p2_rorate .2s ease-in-out 11s forwards");

					&:before{
						content:"趴地";
						line-height: 500px;						
					}

				}
				&:nth-child(2){
					background: url(../images/P60610-092752.jpg) 0 0 no-repeat;
					background-size: cover;
					width: 400px;
					height: 300px;
					transform:translateX(150px);
					@include animation("p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s forwards,p2_rorate .2s ease-in-out 11s forwards");

					&:before{
						content:"合照";
						line-height: 300px;
					}

				}
				&:nth-child(3){
					background: url(../images/P60421-100056.jpg) 0 0 no-repeat;
					background-size: cover;
					width: 400px;
					height: 180px;
					transform:translateX(130px);
					@include animation("p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s forwards,p2_rorate .2s ease-in-out 11s forwards");

					&:before{
						content:"游行";
					}
				}
			}
		}
		ul.third{
			width: 27%;
			margin: 0 auto;
			
			li{
				float:left;
				margin:10px;
				list-style:none;

				background: url(../images/huaji.png) 0 0 no-repeat;
				background-size: cover;
				width: 50px;
				height: 50px;
				transform:translateY(300px);

				&:nth-child(1){
					@include animation("huaji_move_1 .7s ease-out 12s forwards,huaji_move_1_sec 1s ease-in 12.7s forwards");
				}
				&:nth-child(2){
					@include animation("huaji_move_2 .7s ease-out 12s forwards,huaji_move_2_sec 1s ease-in 12.7s forwards");
				}
				&:nth-child(3){
					@include animation("huaji_move_3 .7s ease-out 12s forwards,huaji_move_3_sec 1s ease-in 12.7s forwards");
				}
				&:nth-child(4){
					@include animation("huaji_move_4 .7s ease-out 12s forwards,huaji_move_4_sec 1s ease-in 12.7s forwards");
				}
				&:nth-child(5){
					@include animation("huaji_move_5 .7s ease-out 12s forwards,huaji_move_5_sec 1s ease-in 12.7s forwards");
				}
			}
		}
		ul.fourth{
			width: 100%;
			height: 700px;
			position: absolute;
			left:45%;
			top:61%;
			opacity: 0;
			@include animation("fourth_show .1s linear 13.3s forwards,fourth_move .3s linear 17s forwards,fourth_move_sec .3s linear 19s forwards");

			&:before{
				content:"学习";
				font-size:70px;
				width: 50%;
				color:#4B5753;
				height: 50px;
				position: absolute;
				left:-20%;
				top:-40%;
				font-weight:bold;
				opacity: 0;
				@include animation("fourth_word .5s linear 13.5s forwards,fourth_word_sec .7s linear 17s forwards");
			}
			&:after{
				content:"后浪推前浪，辞职死在沙滩上";
				font-size:25px;
				color:#777;
				width: 50%;
				height: 50px;
				position: absolute;
				left:-20%;
				top:-25%;
				opacity: 0;
				@include animation("fourth_word_1 .5s linear 13.5s forwards,fourth_word_sec_1 .7s linear 17s forwards");
			}

			li{
				float:left;
				margin:10px;
				list-style:none;
				width: 700px;
				height: 700px;
				transform:rotate(45deg) translate3d(0,0,0);
				overflow: hidden;
				opacity: 0;

				.img{
					width: 750px;
					height: 1000px;
					display:inline-block;
					transform: rotate(-45deg) scale(1.6);
				}


				&:nth-child(1){
					@include animation("fourth_img .5s linear 13.7s forwards");
					.img{
						background: url(../images/P60818-152835.jpg) 0 0 no-repeat;
						background-size: 100%;
						@include animation("bg_move 20s linear 14s infinite");
					}
				}
				&:nth-child(2){
					transform:translate3d(-215px, -502px, 1px) rotate(45deg);
					@include animation("fourth_img_1 .5s linear 13.7s forwards");
					.img{
						background: url(../images/IMG20160616002433.jpg) 0 0 no-repeat;
						background-size: cover;
						background-position: -88px -170px;
						@include animation("bg_move_1 20s linear 14s infinite");
					}
				}
				&:nth-child(3){
					transform:rotate(45deg) translate3d(215px, -509px, 0px);
					@include animation("fourth_img_2 .5s linear 17s forwards");
					.img{
						background: url(../images/P60807-111334.jpg) 0 0 no-repeat;
						background-size: cover;
						background-position: 8px -175px;
						@include animation("bg_move_1 20s linear 17s infinite");
					}
				}
				&:nth-child(4){
					transform:rotate(45deg) translate3d(-294px, -717px, 0px);
					@include animation("fourth_img_3 .2s linear 20s forwards");
					.img{
						background: url(../images/6a1e8e1bgy1fcgogdggiuj21000qodnf.jpg) 0 0 no-repeat;
						background-size: 115%;
						background-position: 0px 110px;
						@include animation("bg_move_2 20s linear 20s infinite");
					}
				}
			}

		}
	}
	
}
