/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* 
refer:
https://blog.arvinh.info/2016/08/06/%E5%BF%AB%E9%80%9F%E5%AF%A6%E4%BD%9C-CSS3-%E6%89%93%E5%AD%97%E5%8B%95%E7%95%AB/
http://www.cnblogs.com/dolphinX/p/4087817.html


 */


// @import "compass/reset";
@import "partials/_mixins";
@import "partials/_keyframes.scss";




body{
	overflow: hidden;
	font: 20px/1.5 Verdana, '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}

.container{
	// transform-style:preserve-3d;
	perspective:1000px;

	.google_view{
		background: url(../image/google_view.png) 100% 100% no-repeat;
		width: 600px;
		height: 350px;
		margin: 100px auto;
		position: relative;

		transform-origin: 50px 50px;
		transform:translate3d(1px,1px,100px);



		.typed{
		  width: 9em;
		  overflow: hidden;
		  white-space: nowrap;
		  border-right: .05em solid;
		  position: absolute;
		  bottom: 21%;
		  left: 3%;

		  @include animation("typing 1s steps(12),caret 1s steps(1) forwards");
		}

		.type_wait{
	  	    width: 0px;
	  	    height: 25px;
	  	    overflow: hidden;
	  	    border-right: 0em solid;
	  	    // float: right;
	  	    position: absolute;
	  	    bottom: 22%;
  	        left: 33%;

  	        &:nth-child(2){
  	        	@include animation("typing_back 2s steps(2) 1.50s forwards,caret_sec 2s steps(1) 1.50s forwards");
  	        }
  	        &:nth-child(3){
  	        	@include animation("typing_back 2s steps(2) 3.50s forwards,caret_thir 2s steps(1) 3.50s forwards");
  	        }
  	        &:nth-child(4){
  	        	@include animation("typing_back 2s steps(2) 5.50s forwards,caret_four 2s steps(1) 5.50s infinite");
  	        }

		}
	}
}