// Mixins

/* 封装Animation,允许同一元素绑定多个动画 */
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin picture_position($number,$src,$width,$height,$x,$y){
    .picture:nth-child(#{$number}){
        background: url(#{$src});
        width:$width;
        height:$height;
        background-size: 100%;
        transform:translate3d($x,$y,0);


    &:before{
        content:"";
        background: url(../images/SB077.jpg),url(#{$src});
        background-blend-mode: overlay;
        width:$width;
        height:$height;
        float: left;
        opacity: .4;
        background-size: 100%;
    }

    
}

}
