

@import "mixins.scss";
@import "keyframes.scss";


body{
	overflow:hidden;
	margin: 0;
}

.container{
	// background: url(../images/zzpic6677.jpg),rgba(0,0,0,0.9);
    width: 100%;
    height: 1000px;
    background-size: 1%;
    background-blend-mode: overlay;

		// text-fill-color: transparent;
	
}

svg{
	margin:0 25%;
}
