
@include keyframes(typing){
	0%{ width: 0; }
}
@include keyframes(typing_none){
	0%{border-right: .05em solid;}
	100%{ width: 0;border-right: .05em solid; }
}
@include keyframes(typing_back){
	30%,80%{ width: 40px;display:block; }
	100%{ width: 0px;display:none; }
}
@include keyframes(caret){
	// 50%{ border-color:transparent; }
	100%{ border-color:transparent; }
}
@include keyframes(caret_sec){
	0%{ border-color:transparent; border-right: .05em solid; }
	100%{ border-color:transparent; border-right: 0em solid; }
}
@include keyframes(caret_thir){
	0%{ border-color:transparent; border-right: .05em solid; }
	100%{ border-color:transparent; border-right: 0em solid; }
}
@include keyframes(caret_four){
	50%{ border-color:transparent;border-right: .05em solid; }
}

// 放大
@include keyframes(zoom_out){
	0%{ transform:translate3d(0px,0px,0px); }
	100%{ transform:translate3d(0px,100px,150px); }
}
// 急速放大
@include keyframes(zoom_left){
	0%{ transform:translate3d(0px,100px,150px) scale(1); }
	90%{ transform:translate3d(0px,100px,150px) scale(1.5);}
	100%{ transform:translate3d(0px,100px,150px) scale(7);}
}
// 切换
@include keyframes(switch){
	to { height: 0;opacity: 0; }
}
// 页面移动
@include keyframes(page_move){
	0%{ transform:rotateZ(7deg) rotateY(8deg) translate3d(200px, -120px, 320px); width:0; opacity: 1; }
	100%{ transform:rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px); width:921px;opacity: 1; }
}
@include keyframes(page_move_sec){
	0%{ transform:rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px); width:921px;opacity: 1; }
	100%{ transform:rotateZ(4deg) rotateY(3deg) translate3d(-150px, -600px, 320px); width:921px;opacity: 1; }
}
@include keyframes(shade){
	to { transform:translate3d(1000px,0px,0px); }
}
// 文字显示
@include keyframes(words_show){
	100%{ width: 50%; }
}
// 内容显示
@include keyframes(content_move){
	0%{ transform:rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px); opacity: .9;}
	90%{ transform:rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px); opacity: .6; filter:blur(2px); }
	100%{ transform:rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px); opacity: 0; filter:blur(20px); }
}
// 球移动
@include keyframes(ball_move){
	0%{ transform:translate3d(0px,-120px,0px) scale(1); }
	20%{ transform:translate3d(0px,350px,0px) scale(.6); }
	55%{ transform:translate3d(0px,150px,-100px) scale(.5); }
	70%{ transform:translate3d(-120px,130px,0px) scale(.4); }
	100%{ transform:translate3d(-450px,400px,0px) scale(.4); }
}
// 球持续运动
@include keyframes(ball_move_sec){
	0%{ transform:translate3d(-450px,400px,0px) scale(.5); }
	50%{ transform:translate3d(-450px,200px,0px) scale(.5); }
	100%{ transform:translate3d(-450px,400px,0px) scale(.5); }
}
// 球阴影
@include keyframes(ball_shade){
	from{ border-bottom:5px solid; }
}
// 文字显示
@include keyframes(text_show){
	to{ opacity: 1; }
}

// 第一屏后退
@include keyframes(session_back){
	100%{ transform:rotate(30deg) translate3d(200px,200px,-400px); filter:blur(5px); }
}
// 第一屏图片显示
@include keyframes(p1_show){
	to{ transform:translateX(0); }
}
// 第一屏移动
@include keyframes(p1_move){
	to{ transform:translateY(-690px); }
}
// 第二屏图片移动
@include keyframes(p2_show){
	to{ transform:translateX(0); opacity: 1; }
}
// 第二屏图片旋转
@include keyframes(p2_rorate){
	from{ transform:translateX(100px) rotateY(0deg);}
	to{ transform:translateX(0px) rotateY(360deg);}
}
// 第二屏移动
@include keyframes(p2_move){
	to{ transform:translateX(100px); }
}
// 第二屏第二次移动
@include keyframes(p2_move_sec){
	from{ transform:translate3d(100px,0,0); }
	to{ transform:translate3d(100px,-50px,0); }
}
// 第二屏图片背景转动
@include keyframes(p2_bg_rotate){
	to{ transform:rotateY(0deg); opacity: .5; }
}
// 滑稽移动
@include keyframes(huaji_move_1){
	from{ transform:translateY(500px);}
	to{ transform:translateY(-300px); }
}
// 滑稽移动
@include keyframes(huaji_move_2){
	from{ transform:translateY(450px); }
	to{ transform:translateY(-320px); }
}
// 滑稽移动
@include keyframes(huaji_move_3){
	from{ transform:translateY(400px); }
	to{ transform:translateY(-340px); }
}
// 滑稽移动
@include keyframes(huaji_move_4){
	from{ transform:translateY(350px); }
	to{ transform:translateY(-360px); }
}
// 滑稽移动
@include keyframes(huaji_move_5){
	from{ transform:translateY(300px); }
	to{ transform:translateY(-380px); }
}
// 滑稽二次移动
@include keyframes(huaji_move_1_sec){
	from{ transform:translateY(-300px); }
	to{ transform:translateY(300px); }
}
// 滑稽二次移动
@include keyframes(huaji_move_2_sec){
	from{ transform:translateY(-320px); }
	to{ transform:translateY(350px); }
}
// 滑稽二次移动
@include keyframes(huaji_move_3_sec){
	from{ transform:translateY(-340px); }
	to{ transform:translateY(400px); }
}
// 滑稽二次移动
@include keyframes(huaji_move_4_sec){
	from{ transform:translateY(-360px); }
	to{ transform:translateY(450px); }
}
// 滑稽二次移动
@include keyframes(huaji_move_5_sec){
	from{ transform:translateY(-380px); }
	to{ transform:translateY(500px); }
}
