
@include keyframes(typing){
	0%{ width: 0; }
}
@include keyframes(typing_none){
	0%{border-right: .05em solid;}
	100%{ width: 0;border-right: .05em solid; }
}
@include keyframes(typing_back){
	30%,80%{ width: 40px;display:block; }
	100%{ width: 0px;display:none; }
}
@include keyframes(caret){
	// 50%{ border-color:transparent; }
	100%{ border-color:transparent; }
}
@include keyframes(caret_sec){
	0%{ border-color:transparent; border-right: .05em solid; }
	100%{ border-color:transparent; border-right: 0em solid; }
}
@include keyframes(caret_thir){
	0%{ border-color:transparent; border-right: .05em solid; }
	100%{ border-color:transparent; border-right: 0em solid; }
}
@include keyframes(caret_four){
	50%{ border-color:transparent;border-right: .05em solid; }
}

// 放大
@include keyframes(zoom_out){
	0%{ transform:translate3d(0px,0px,0px); }
	100%{ transform:translate3d(0px,100px,150px); }
}
// 急速放大
@include keyframes(zoom_left){
	0%{ transform:translate3d(0px,100px,150px) scale(1); }
	90%{ transform:translate3d(0px,100px,150px) scale(1.5);}
	100%{ transform:translate3d(0px,100px,150px) scale(7);}
}
// 切换
@include keyframes(switch){
	to { height: 0;opacity: 0; }
}
// 页面移动
@include keyframes(page_move){
	0%{ transform:rotateZ(7deg) rotateY(8deg) translate3d(200px, -120px, 320px); width:0; opacity: 1; }
	100%{ transform:rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px); width:921px;opacity: 1; }
}
@include keyframes(page_move_sec){
	0%{ transform:rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px); width:921px;opacity: 1; }
	100%{ transform:rotateZ(4deg) rotateY(3deg) translate3d(-150px, -600px, 320px); width:921px;opacity: 1; }
}
@include keyframes(shade){
	to { transform:translate3d(1000px,0px,0px); }
}
// 文字显示
@include keyframes(words_show){
	100%{ width: 50%; }
}
// 内容显示
@include keyframes(content_move){
	0%{ transform:rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px); opacity: .9;}
	90%{ transform:rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px); opacity: .6; filter:blur(2px); }
	100%{ transform:rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px); opacity: 0; filter:blur(20px); }
}
// 球移动
@include keyframes(ball_move){
	0%{ transform:translate3d(0px,-120px,0px) scale(1); }
	20%{ transform:translate3d(0px,350px,0px) scale(.6); }
	55%{ transform:translate3d(0px,150px,-100px) scale(.5); }
	70%{ transform:translate3d(-120px,130px,0px) scale(.4); }
	100%{ transform:translate3d(-450px,400px,0px) scale(.4); }
}
// 球持续运动
@include keyframes(ball_move_sec){
	0%{ transform:translate3d(-450px,400px,0px) scale(.5); }
	50%{ transform:translate3d(-450px,200px,0px) scale(.5); }
	100%{ transform:translate3d(-450px,400px,0px) scale(.5); }
}
// 球阴影
@include keyframes(ball_shade){
	from{ border-bottom:5px solid; }
}
// 文字显示
@include keyframes(text_show){
	to{ opacity: 1; }
}

// 第一屏后退
@include keyframes(session_back){
	100%{ transform: translate3d(0px,0px,-100px); filter:blur(5px); }
}
// 第一屏图片显示
@include keyframes(p1_show){
	to{ transform:translateX(0); }
}
// 第一屏移动
@include keyframes(p1_move){
	to{ transform:translateY(-690px); }
}
// 第二屏图片移动
@include keyframes(p2_show){
	to{ transform:translateX(0); opacity: 1; }
}
// 第二屏图片旋转
@include keyframes(p2_rorate){
	from{ transform:translateX(100px) rotateY(0deg);}
	to{ transform:translateX(0px) rotateY(360deg);}
}
// 第二屏移动
@include keyframes(p2_move){
	to{ transform:translateX(100px); }
}
// 第二屏第二次移动
@include keyframes(p2_move_sec){
	from{ transform:translate3d(100px,0,0); }
	to{ transform:translate3d(100px,-50px,0); }
}
// 第二屏图片背景转动
@include keyframes(p2_bg_rotate){
	to{ transform:rotateY(0deg); opacity: .5; }
}
// 滑稽移动
@include keyframes(huaji_move_1){
	from{ transform:translateY(500px);}
	to{ transform:translateY(-300px); }
}
// 滑稽移动
@include keyframes(huaji_move_2){
	from{ transform:translateY(450px); }
	to{ transform:translateY(-320px); }
}
// 滑稽移动
@include keyframes(huaji_move_3){
	from{ transform:translateY(400px); }
	to{ transform:translateY(-340px); }
}
// 滑稽移动
@include keyframes(huaji_move_4){
	from{ transform:translateY(350px); }
	to{ transform:translateY(-360px); }
}
// 滑稽移动
@include keyframes(huaji_move_5){
	from{ transform:translateY(300px); }
	to{ transform:translateY(-380px); }
}
// 滑稽二次移动
@include keyframes(huaji_move_1_sec){
	from{ transform:translateY(-300px); }
	to{ transform:translateY(2000px); }
}
// 滑稽二次移动
@include keyframes(huaji_move_2_sec){
	from{ transform:translateY(-320px); }
	to{ transform:translateY(2000px); }
}
// 滑稽二次移动
@include keyframes(huaji_move_3_sec){
	from{ transform:translateY(-340px); }
	to{ transform:translateY(2000px); }
}
// 滑稽二次移动
@include keyframes(huaji_move_4_sec){
	from{ transform:translateY(-360px); }
	to{ transform:translateY(2000px); }
}
// 滑稽二次移动
@include keyframes(huaji_move_5_sec){
	from{ transform:translateY(-380px); }
	to{ transform:translateY(2000px); }
}
// 第一屏第二次移动
@include keyframes(p1_move_sec){
	from{ transform:translateY(-690px); }
	to{ transform:translateY(-1400px); }
}
// 背景第一次变化
@include keyframes(bg_change){
	from{ opacity: 0; background: white; }
	to{
		opacity: 1;
		filter:blur(.5px);
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edd9c9+0,f0decf+5,efddce+6,f0ded2+7,f0e0d3+8,f0e0d1+12,f1e1d4+16,f0dece+46,f2decc+75,f2dcca+76,f4dcc8+91,f3d9c4+100 */
		background: rgb(237,217,201); /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  rgb(237,217,201) 0%, rgb(240,222,207) 5%, rgb(239,221,206) 6%, rgb(240,222,210) 7%, rgb(240,224,211) 8%, rgb(240,224,209) 12%, rgb(241,225,212) 16%, rgb(240,222,206) 46%, rgb(242,222,204) 75%, rgb(242,220,202) 76%, rgb(244,220,200) 91%, rgb(243,217,196) 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  rgb(237,217,201) 0%,rgb(240,222,207) 5%,rgb(239,221,206) 6%,rgb(240,222,210) 7%,rgb(240,224,211) 8%,rgb(240,224,209) 12%,rgb(241,225,212) 16%,rgb(240,222,206) 46%,rgb(242,222,204) 75%,rgb(242,220,202) 76%,rgb(244,220,200) 91%,rgb(243,217,196) 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  rgb(237,217,201) 0%,rgb(240,222,207) 5%,rgb(239,221,206) 6%,rgb(240,222,210) 7%,rgb(240,224,211) 8%,rgb(240,224,209) 12%,rgb(241,225,212) 16%,rgb(240,222,206) 46%,rgb(242,222,204) 75%,rgb(242,220,202) 76%,rgb(244,220,200) 91%,rgb(243,217,196) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edd9c9', endColorstr='#f3d9c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}
}
// 背景第二次变化
@include keyframes(bg_change_sec){
	from{
		filter:blur(.5px);
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edd9c9+0,f0decf+5,efddce+6,f0ded2+7,f0e0d3+8,f0e0d1+12,f1e1d4+16,f0dece+46,f2decc+75,f2dcca+76,f4dcc8+91,f3d9c4+100 */
		background: rgb(237,217,201); /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  rgb(237,217,201) 0%, rgb(240,222,207) 5%, rgb(239,221,206) 6%, rgb(240,222,210) 7%, rgb(240,224,211) 8%, rgb(240,224,209) 12%, rgb(241,225,212) 16%, rgb(240,222,206) 46%, rgb(242,222,204) 75%, rgb(242,220,202) 76%, rgb(244,220,200) 91%, rgb(243,217,196) 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  rgb(237,217,201) 0%,rgb(240,222,207) 5%,rgb(239,221,206) 6%,rgb(240,222,210) 7%,rgb(240,224,211) 8%,rgb(240,224,209) 12%,rgb(241,225,212) 16%,rgb(240,222,206) 46%,rgb(242,222,204) 75%,rgb(242,220,202) 76%,rgb(244,220,200) 91%,rgb(243,217,196) 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  rgb(237,217,201) 0%,rgb(240,222,207) 5%,rgb(239,221,206) 6%,rgb(240,222,210) 7%,rgb(240,224,211) 8%,rgb(240,224,209) 12%,rgb(241,225,212) 16%,rgb(240,222,206) 46%,rgb(242,222,204) 75%,rgb(242,220,202) 76%,rgb(244,220,200) 91%,rgb(243,217,196) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edd9c9', endColorstr='#f3d9c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	to{
		filter:blur(.4px);
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1f5fa+0,e3f5f8+100 */
		background: rgb(225,245,250); /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  rgb(225,245,250) 0%, rgb(227,245,248) 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  rgb(225,245,250) 0%,rgb(227,245,248) 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  rgb(225,245,250) 0%,rgb(227,245,248) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f5fa', endColorstr='#e3f5f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}
}

// 第四屏显示
@include keyframes(fourth_show){
	to{ opacity: 1; }
}
// 第四屏文字移动显示
@include keyframes(fourth_word){
	0% { left: -35%;top: 20%; opacity: .1; }
	90%{ left: -25%;top: -45%; opacity: 1; }
	100%{ left: -20%;top: -40%; opacity: 1; }
}
// 第四屏文字移动显示
@include keyframes(fourth_word_1){
	0% { left: -35%;top: 35%; opacity: .1; }
	90%{ left: -25%;top: -30%; opacity: 1; }
	100%{ left: -20%;top: -25%; opacity: 1; }
}
// 第四屏图片移动
@include keyframes(fourth_img){
	0% { transform: rotate(45deg) translate3d(-120px,755px,0px); opacity: .1; }
	30%{ transform: rotate(45deg) translate3d(-120px,555px,0px); opacity: 1;}
	100% { transform: rotate(45deg) translate3d(0,0,0); opacity: 1; }
}
// 第四屏图片移动
@include keyframes(fourth_img_1){
	0% { transform:translate3d(288px, -905px, 0) rotate(45deg); opacity: .1; }
	30%{ transform:translate3d(288px,-705px,0px) rotate(45deg); opacity: 1; }
	100% { transform:translate3d(-215px, -502px, 1px) rotate(45deg); opacity: 1; }
}
// 第四屏图片移动
@include keyframes(fourth_img_2){
	0% { transform:rotate(45deg) translate3d(745px, -509px, 0px); opacity: .1; }
	100% { transform:rotate(45deg) translate3d(215px, -509px, 0px); opacity: 1; }
}
// 第四屏图片移动
@include keyframes(fourth_img_3){
	0% { transform:rotate(45deg) translate3d(365px, -717px, 0px); opacity: .1; }
	100% { transform:rotate(45deg) translate3d(-294px, -717px, 0px); opacity: 1; }
}
// 第四屏图片position移动 
// bg_position 会闪得很厉害
@include keyframes(bg_move){
	0% { background-position:0 0; }
	50% { background-position:50px 0; }
	100% { background-position:0 0; }
	// 0% { transform:rotate(-45deg) scale(1.6) translate3d(0,0,0); }  用这个菱形会无效
	// 50% { transform:rotate(-45deg) scale(1.6) translate3d(0,50px,0); }
	// 100% { transform:rotate(-45deg) scale(1.6) translate3d(0,0,0); }
	// 0% { left:0px;}
	// 50% { left:60px; }
	// 100% { left:0px;}
}
// 第四屏图片position移动
@include keyframes(bg_move_1){
	0% { background-position:0 0; }
	50% { background-position:0 50px; }
	100% { background-position:0 0; }
}
// 第四屏图片position移动
@include keyframes(bg_move_2){
	0% { background-position:0 110px; }
	50% { background-position:50px 110px; }
	100% { background-position:0 110px; }
}
// 第四屏移动
@include keyframes(fourth_move){
	to{ top:29%; }
}
// 第四屏文字第二次移动
@include keyframes(fourth_word_sec){
	from{ left: -20%;top: -40%; opacity: 1; }
	to{ left: -20%;top: 100%; opacity: 1; content:"搬屋" }
}
// 第四屏文字第二次移动
@include keyframes(fourth_word_sec_1){
	from{ left: -20%;top: -25%; opacity: 1; }
	to{ left: -20%;top: 115%; opacity: 1; content:"从Chinatown搬到Rosemead,房租死贵死贵的。" }
}
// 第四屏第二次移动
@include keyframes(fourth_move_sec){
	from{ top:29%; }
	to{ 
		top: 45%;
    	left: -47%;
    	transform: scale(.8); 
    }
}
