@charset "UTF-8";
/* 
refer:
https://blog.arvinh.info/2016/08/06/%E5%BF%AB%E9%80%9F%E5%AF%A6%E4%BD%9C-CSS3-%E6%89%93%E5%AD%97%E5%8B%95%E7%95%AB/
http://www.cnblogs.com/dolphinX/p/4087817.html


 */
/* 封装Animation,允许同一元素绑定多个动画 */
@-webkit-keyframes typing {
  0% {
    width: 0; } }

@keyframes typing {
  0% {
    width: 0; } }

@-webkit-keyframes typing_none {
  0% {
    border-right: .05em solid; }
  100% {
    width: 0;
    border-right: .05em solid; } }

@keyframes typing_none {
  0% {
    border-right: .05em solid; }
  100% {
    width: 0;
    border-right: .05em solid; } }

@-webkit-keyframes typing_back {
  30%, 80% {
    width: 40px;
    display: block; }
  100% {
    width: 0px;
    display: none; } }

@keyframes typing_back {
  30%, 80% {
    width: 40px;
    display: block; }
  100% {
    width: 0px;
    display: none; } }

@-webkit-keyframes caret {
  100% {
    border-color: transparent; } }

@keyframes caret {
  100% {
    border-color: transparent; } }

@-webkit-keyframes caret_sec {
  0% {
    border-color: transparent;
    border-right: .05em solid; }
  100% {
    border-color: transparent;
    border-right: 0em solid; } }

@keyframes caret_sec {
  0% {
    border-color: transparent;
    border-right: .05em solid; }
  100% {
    border-color: transparent;
    border-right: 0em solid; } }

@-webkit-keyframes caret_thir {
  0% {
    border-color: transparent;
    border-right: .05em solid; }
  100% {
    border-color: transparent;
    border-right: 0em solid; } }

@keyframes caret_thir {
  0% {
    border-color: transparent;
    border-right: .05em solid; }
  100% {
    border-color: transparent;
    border-right: 0em solid; } }

@-webkit-keyframes caret_four {
  50% {
    border-color: transparent;
    border-right: .05em solid; } }

@keyframes caret_four {
  50% {
    border-color: transparent;
    border-right: .05em solid; } }

@-webkit-keyframes zoom_out {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 100px, 150px);
            transform: translate3d(0px, 100px, 150px); } }

@keyframes zoom_out {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 100px, 150px);
            transform: translate3d(0px, 100px, 150px); } }

@-webkit-keyframes zoom_left {
  0% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(1);
            transform: translate3d(0px, 100px, 150px) scale(1); }
  80% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(1.3);
            transform: translate3d(0px, 100px, 150px) scale(1.3); }
  100% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(6);
            transform: translate3d(0px, 100px, 150px) scale(6); } }

@keyframes zoom_left {
  0% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(1);
            transform: translate3d(0px, 100px, 150px) scale(1); }
  80% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(1.3);
            transform: translate3d(0px, 100px, 150px) scale(1.3); }
  100% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(6);
            transform: translate3d(0px, 100px, 150px) scale(6); } }

@-webkit-keyframes switch {
  to {
    height: 0px;
    opacity: 0; } }

@keyframes switch {
  to {
    height: 0px;
    opacity: 0; } }

@-webkit-keyframes height_change {
  to {
    height: 3000px; } }

@keyframes height_change {
  to {
    height: 3000px; } }

@-webkit-keyframes page_move {
  0% {
    -webkit-transform: rotateZ(7deg) rotateY(8deg) translate3d(200px, -120px, 320px);
            transform: rotateZ(7deg) rotateY(8deg) translate3d(200px, -120px, 320px);
    width: 0;
    opacity: 1; }
  100% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
    width: 921px;
    opacity: 1; } }

@keyframes page_move {
  0% {
    -webkit-transform: rotateZ(7deg) rotateY(8deg) translate3d(200px, -120px, 320px);
            transform: rotateZ(7deg) rotateY(8deg) translate3d(200px, -120px, 320px);
    width: 0;
    opacity: 1; }
  100% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
    width: 921px;
    opacity: 1; } }

@-webkit-keyframes page_move_sec {
  0% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
    width: 921px;
    opacity: 1; }
  100% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -600px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -600px, 320px);
    width: 921px;
    opacity: 1; } }

@keyframes page_move_sec {
  0% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
    width: 921px;
    opacity: 1; }
  100% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -600px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -600px, 320px);
    width: 921px;
    opacity: 1; } }

@-webkit-keyframes shade {
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
            transform: translate3d(1000px, 0px, 0px); } }

@keyframes shade {
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
            transform: translate3d(1000px, 0px, 0px); } }

@-webkit-keyframes words_show {
  100% {
    width: 50%; } }

@keyframes words_show {
  100% {
    width: 50%; } }

@-webkit-keyframes content_move {
  0% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
    opacity: .9; }
  90% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
    opacity: .6;
    -webkit-filter: blur(2px);
            filter: blur(2px); }
  100% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px); } }

@keyframes content_move {
  0% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
    opacity: .9; }
  90% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
    opacity: .6;
    -webkit-filter: blur(2px);
            filter: blur(2px); }
  100% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px); } }

@-webkit-keyframes ball_move {
  0% {
    -webkit-transform: translate3d(0px, -120px, 0px) scale(1);
            transform: translate3d(0px, -120px, 0px) scale(1);
    opacity: 1; }
  20% {
    -webkit-transform: translate3d(0px, 350px, 0px) scale(0.6);
            transform: translate3d(0px, 350px, 0px) scale(0.6);
    opacity: 1; }
  55% {
    -webkit-transform: translate3d(0px, 150px, -100px) scale(0.5);
            transform: translate3d(0px, 150px, -100px) scale(0.5);
    opacity: 1; }
  70% {
    -webkit-transform: translate3d(-120px, 130px, 0px) scale(0.4);
            transform: translate3d(-120px, 130px, 0px) scale(0.4);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.4);
            transform: translate3d(-450px, 400px, 0px) scale(0.4);
    opacity: 1; } }

@keyframes ball_move {
  0% {
    -webkit-transform: translate3d(0px, -120px, 0px) scale(1);
            transform: translate3d(0px, -120px, 0px) scale(1);
    opacity: 1; }
  20% {
    -webkit-transform: translate3d(0px, 350px, 0px) scale(0.6);
            transform: translate3d(0px, 350px, 0px) scale(0.6);
    opacity: 1; }
  55% {
    -webkit-transform: translate3d(0px, 150px, -100px) scale(0.5);
            transform: translate3d(0px, 150px, -100px) scale(0.5);
    opacity: 1; }
  70% {
    -webkit-transform: translate3d(-120px, 130px, 0px) scale(0.4);
            transform: translate3d(-120px, 130px, 0px) scale(0.4);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.4);
            transform: translate3d(-450px, 400px, 0px) scale(0.4);
    opacity: 1; } }

@-webkit-keyframes ball_move_sec {
  0% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.5);
            transform: translate3d(-450px, 400px, 0px) scale(0.5); }
  50% {
    -webkit-transform: translate3d(-450px, 200px, 0px) scale(0.5);
            transform: translate3d(-450px, 200px, 0px) scale(0.5); }
  100% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.5);
            transform: translate3d(-450px, 400px, 0px) scale(0.5); } }

@keyframes ball_move_sec {
  0% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.5);
            transform: translate3d(-450px, 400px, 0px) scale(0.5); }
  50% {
    -webkit-transform: translate3d(-450px, 200px, 0px) scale(0.5);
            transform: translate3d(-450px, 200px, 0px) scale(0.5); }
  100% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.5);
            transform: translate3d(-450px, 400px, 0px) scale(0.5); } }

@-webkit-keyframes ball_shade {
  from {
    border-bottom: 5px solid; } }

@keyframes ball_shade {
  from {
    border-bottom: 5px solid; } }

@-webkit-keyframes text_show {
  to {
    opacity: 1; } }

@keyframes text_show {
  to {
    opacity: 1; } }

@-webkit-keyframes session_back {
  100% {
    -webkit-transform: translate3d(0px, 0px, -100px);
            transform: translate3d(0px, 0px, -100px);
    -webkit-filter: blur(5px);
            filter: blur(5px); } }

@keyframes session_back {
  100% {
    -webkit-transform: translate3d(0px, 0px, -100px);
            transform: translate3d(0px, 0px, -100px);
    -webkit-filter: blur(5px);
            filter: blur(5px); } }

@-webkit-keyframes session_hide {
  to {
    opacity: 0; } }

@keyframes session_hide {
  to {
    opacity: 0; } }

@-webkit-keyframes p1_show {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes p1_show {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes p1_move {
  to {
    -webkit-transform: translateY(-690px);
            transform: translateY(-690px); } }

@keyframes p1_move {
  to {
    -webkit-transform: translateY(-690px);
            transform: translateY(-690px); } }

@-webkit-keyframes p2_show {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes p2_show {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes p2_rorate {
  from {
    -webkit-transform: translateX(100px) rotateY(0deg);
            transform: translateX(100px) rotateY(0deg); }
  to {
    -webkit-transform: translateX(0px) rotateY(360deg);
            transform: translateX(0px) rotateY(360deg); } }

@keyframes p2_rorate {
  from {
    -webkit-transform: translateX(100px) rotateY(0deg);
            transform: translateX(100px) rotateY(0deg); }
  to {
    -webkit-transform: translateX(0px) rotateY(360deg);
            transform: translateX(0px) rotateY(360deg); } }

@-webkit-keyframes p2_move {
  to {
    -webkit-transform: translateX(100px);
            transform: translateX(100px); } }

@keyframes p2_move {
  to {
    -webkit-transform: translateX(100px);
            transform: translateX(100px); } }

@-webkit-keyframes p2_move_sec {
  from {
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0); }
  to {
    -webkit-transform: translate3d(100px, -50px, 0);
            transform: translate3d(100px, -50px, 0); } }

@keyframes p2_move_sec {
  from {
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0); }
  to {
    -webkit-transform: translate3d(100px, -50px, 0);
            transform: translate3d(100px, -50px, 0); } }

@-webkit-keyframes p2_blur {
  to {
    -webkit-filter: blur(10px);
            filter: blur(10px); } }

@keyframes p2_blur {
  to {
    -webkit-filter: blur(10px);
            filter: blur(10px); } }

@-webkit-keyframes p2_bg_rotate {
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: .5; } }

@keyframes p2_bg_rotate {
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: .5; } }

@-webkit-keyframes huaji_move_1 {
  from {
    -webkit-transform: translateY(500px);
            transform: translateY(500px); }
  to {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px); } }

@keyframes huaji_move_1 {
  from {
    -webkit-transform: translateY(500px);
            transform: translateY(500px); }
  to {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px); } }

@-webkit-keyframes huaji_move_2 {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px); }
  to {
    -webkit-transform: translateY(-320px);
            transform: translateY(-320px); } }

@keyframes huaji_move_2 {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px); }
  to {
    -webkit-transform: translateY(-320px);
            transform: translateY(-320px); } }

@-webkit-keyframes huaji_move_3 {
  from {
    -webkit-transform: translateY(400px);
            transform: translateY(400px); }
  to {
    -webkit-transform: translateY(-340px);
            transform: translateY(-340px); } }

@keyframes huaji_move_3 {
  from {
    -webkit-transform: translateY(400px);
            transform: translateY(400px); }
  to {
    -webkit-transform: translateY(-340px);
            transform: translateY(-340px); } }

@-webkit-keyframes huaji_move_4 {
  from {
    -webkit-transform: translateY(350px);
            transform: translateY(350px); }
  to {
    -webkit-transform: translateY(-360px);
            transform: translateY(-360px); } }

@keyframes huaji_move_4 {
  from {
    -webkit-transform: translateY(350px);
            transform: translateY(350px); }
  to {
    -webkit-transform: translateY(-360px);
            transform: translateY(-360px); } }

@-webkit-keyframes huaji_move_5 {
  from {
    -webkit-transform: translateY(300px);
            transform: translateY(300px); }
  to {
    -webkit-transform: translateY(-380px);
            transform: translateY(-380px); } }

@keyframes huaji_move_5 {
  from {
    -webkit-transform: translateY(300px);
            transform: translateY(300px); }
  to {
    -webkit-transform: translateY(-380px);
            transform: translateY(-380px); } }

@-webkit-keyframes huaji_move_1_sec {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px); }
  to {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); } }

@keyframes huaji_move_1_sec {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px); }
  to {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); } }

@-webkit-keyframes huaji_move_2_sec {
  from {
    -webkit-transform: translateY(-320px);
            transform: translateY(-320px); }
  to {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); } }

@keyframes huaji_move_2_sec {
  from {
    -webkit-transform: translateY(-320px);
            transform: translateY(-320px); }
  to {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); } }

@-webkit-keyframes huaji_move_3_sec {
  from {
    -webkit-transform: translateY(-340px);
            transform: translateY(-340px); }
  to {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); } }

@keyframes huaji_move_3_sec {
  from {
    -webkit-transform: translateY(-340px);
            transform: translateY(-340px); }
  to {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); } }

@-webkit-keyframes huaji_move_4_sec {
  from {
    -webkit-transform: translateY(-360px);
            transform: translateY(-360px); }
  to {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); } }

@keyframes huaji_move_4_sec {
  from {
    -webkit-transform: translateY(-360px);
            transform: translateY(-360px); }
  to {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); } }

@-webkit-keyframes huaji_move_5_sec {
  from {
    -webkit-transform: translateY(-380px);
            transform: translateY(-380px); }
  to {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); } }

@keyframes huaji_move_5_sec {
  from {
    -webkit-transform: translateY(-380px);
            transform: translateY(-380px); }
  to {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); } }

@-webkit-keyframes p1_move_sec {
  from {
    -webkit-transform: translateY(-690px);
            transform: translateY(-690px); }
  to {
    -webkit-transform: translateY(-1400px);
            transform: translateY(-1400px); } }

@keyframes p1_move_sec {
  from {
    -webkit-transform: translateY(-690px);
            transform: translateY(-690px); }
  to {
    -webkit-transform: translateY(-1400px);
            transform: translateY(-1400px); } }

@-webkit-keyframes bg_change {
  from {
    opacity: 0;
    background: white; }
  to {
    opacity: 1;
    -webkit-filter: blur(0.5px);
            filter: blur(0.5px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff3f9+0,f1f5fa+0,f2f7f8+5,f5f7f8+5,f5f7f9+17,f6f6f6+19,f4f4f4+28,f8f3f2+48,f6f2ef+49,f8eee6+92,f7ebe1+96,f5e5d6+100 */
    background: #eff3f9;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #eff3f9 0%, #f1f5fa 0%, #f2f7f8 5%, #f5f7f8 5%, #f5f7f9 17%, #f6f6f6 19%, #f4f4f4 28%, #f8f3f2 48%, #f6f2ef 49%, #f8eee6 92%, #f7ebe1 96%, #f5e5d6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #eff3f9 0%, #f1f5fa 0%, #f2f7f8 5%, #f5f7f8 5%, #f5f7f9 17%, #f6f6f6 19%, #f4f4f4 28%, #f8f3f2 48%, #f6f2ef 49%, #f8eee6 92%, #f7ebe1 96%, #f5e5d6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f9', endColorstr='#f5e5d6',GradientType=1 );
    /* IE6-9 */ } }

@keyframes bg_change {
  from {
    opacity: 0;
    background: white; }
  to {
    opacity: 1;
    -webkit-filter: blur(0.5px);
            filter: blur(0.5px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff3f9+0,f1f5fa+0,f2f7f8+5,f5f7f8+5,f5f7f9+17,f6f6f6+19,f4f4f4+28,f8f3f2+48,f6f2ef+49,f8eee6+92,f7ebe1+96,f5e5d6+100 */
    background: #eff3f9;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #eff3f9 0%, #f1f5fa 0%, #f2f7f8 5%, #f5f7f8 5%, #f5f7f9 17%, #f6f6f6 19%, #f4f4f4 28%, #f8f3f2 48%, #f6f2ef 49%, #f8eee6 92%, #f7ebe1 96%, #f5e5d6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #eff3f9 0%, #f1f5fa 0%, #f2f7f8 5%, #f5f7f8 5%, #f5f7f9 17%, #f6f6f6 19%, #f4f4f4 28%, #f8f3f2 48%, #f6f2ef 49%, #f8eee6 92%, #f7ebe1 96%, #f5e5d6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f9', endColorstr='#f5e5d6',GradientType=1 );
    /* IE6-9 */ } }

@-webkit-keyframes bg_change_sec {
  from {
    -webkit-filter: blur(0.5px);
            filter: blur(0.5px);
    background: #eff3f9;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #eff3f9 0%, #f1f5fa 0%, #f2f7f8 5%, #f5f7f8 5%, #f5f7f9 17%, #f6f6f6 19%, #f4f4f4 28%, #f8f3f2 48%, #f6f2ef 49%, #f8eee6 92%, #f7ebe1 96%, #f5e5d6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #eff3f9 0%, #f1f5fa 0%, #f2f7f8 5%, #f5f7f8 5%, #f5f7f9 17%, #f6f6f6 19%, #f4f4f4 28%, #f8f3f2 48%, #f6f2ef 49%, #f8eee6 92%, #f7ebe1 96%, #f5e5d6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f9', endColorstr='#f5e5d6',GradientType=1 );
    /* IE6-9 */ }
  to {
    -webkit-filter: blur(0.4px);
            filter: blur(0.4px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1f5fa+0,e3f5f8+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f0ee+0,e5f2ed+100 */
    background: #e4f0ee;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e4f0ee 0%, #e5f2ed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e4f0ee 0%, #e5f2ed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f0ee', endColorstr='#e5f2ed',GradientType=1 );
    /* IE6-9 */ } }

@keyframes bg_change_sec {
  from {
    -webkit-filter: blur(0.5px);
            filter: blur(0.5px);
    background: #eff3f9;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #eff3f9 0%, #f1f5fa 0%, #f2f7f8 5%, #f5f7f8 5%, #f5f7f9 17%, #f6f6f6 19%, #f4f4f4 28%, #f8f3f2 48%, #f6f2ef 49%, #f8eee6 92%, #f7ebe1 96%, #f5e5d6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #eff3f9 0%, #f1f5fa 0%, #f2f7f8 5%, #f5f7f8 5%, #f5f7f9 17%, #f6f6f6 19%, #f4f4f4 28%, #f8f3f2 48%, #f6f2ef 49%, #f8eee6 92%, #f7ebe1 96%, #f5e5d6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff3f9', endColorstr='#f5e5d6',GradientType=1 );
    /* IE6-9 */ }
  to {
    -webkit-filter: blur(0.4px);
            filter: blur(0.4px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1f5fa+0,e3f5f8+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f0ee+0,e5f2ed+100 */
    background: #e4f0ee;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e4f0ee 0%, #e5f2ed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e4f0ee 0%, #e5f2ed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f0ee', endColorstr='#e5f2ed',GradientType=1 );
    /* IE6-9 */ } }

@-webkit-keyframes bg_change_third {
  from {
    -webkit-filter: blur(0.4px);
            filter: blur(0.4px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f0ee+0,e5f2ed+100 */
    background: #e4f0ee;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e4f0ee 0%, #e5f2ed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e4f0ee 0%, #e5f2ed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f0ee', endColorstr='#e5f2ed',GradientType=1 );
    /* IE6-9 */ }
  to {
    -webkit-filter: blur(0.4px);
            filter: blur(0.4px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7ebe3+0,e8e9e0+100 */
    background: #e7ebe3;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e7ebe3 0%, #e8e9e0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e7ebe3 0%, #e8e9e0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7ebe3', endColorstr='#e8e9e0',GradientType=1 );
    /* IE6-9 */ } }

@keyframes bg_change_third {
  from {
    -webkit-filter: blur(0.4px);
            filter: blur(0.4px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f0ee+0,e5f2ed+100 */
    background: #e4f0ee;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e4f0ee 0%, #e5f2ed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e4f0ee 0%, #e5f2ed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f0ee', endColorstr='#e5f2ed',GradientType=1 );
    /* IE6-9 */ }
  to {
    -webkit-filter: blur(0.4px);
            filter: blur(0.4px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7ebe3+0,e8e9e0+100 */
    background: #e7ebe3;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e7ebe3 0%, #e8e9e0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e7ebe3 0%, #e8e9e0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7ebe3', endColorstr='#e8e9e0',GradientType=1 );
    /* IE6-9 */ } }

@-webkit-keyframes bg_change_fourth {
  from {
    -webkit-filter: blur(0.4px);
            filter: blur(0.4px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7ebe3+0,e8e9e0+100 */
    background: #e7ebe3;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e7ebe3 0%, #e8e9e0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e7ebe3 0%, #e8e9e0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7ebe3', endColorstr='#e8e9e0',GradientType=1 );
    /* IE6-9 */ }
  to {
    background: black; } }

@keyframes bg_change_fourth {
  from {
    -webkit-filter: blur(0.4px);
            filter: blur(0.4px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7ebe3+0,e8e9e0+100 */
    background: #e7ebe3;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e7ebe3 0%, #e8e9e0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e7ebe3 0%, #e8e9e0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7ebe3', endColorstr='#e8e9e0',GradientType=1 );
    /* IE6-9 */ }
  to {
    background: black; } }

@-webkit-keyframes fourth_show {
  to {
    opacity: 1; } }

@keyframes fourth_show {
  to {
    opacity: 1; } }

@-webkit-keyframes fourth_word {
  0% {
    left: -35%;
    top: 20%;
    opacity: .1; }
  90% {
    left: -25%;
    top: -45%;
    opacity: 1; }
  100% {
    left: -20%;
    top: -40%;
    opacity: 1; } }

@keyframes fourth_word {
  0% {
    left: -35%;
    top: 20%;
    opacity: .1; }
  90% {
    left: -25%;
    top: -45%;
    opacity: 1; }
  100% {
    left: -20%;
    top: -40%;
    opacity: 1; } }

@-webkit-keyframes fourth_word_1 {
  0% {
    left: -35%;
    top: 35%;
    opacity: .1; }
  90% {
    left: -25%;
    top: -30%;
    opacity: 1; }
  100% {
    left: -20%;
    top: -25%;
    opacity: 1; } }

@keyframes fourth_word_1 {
  0% {
    left: -35%;
    top: 35%;
    opacity: .1; }
  90% {
    left: -25%;
    top: -30%;
    opacity: 1; }
  100% {
    left: -20%;
    top: -25%;
    opacity: 1; } }

@-webkit-keyframes fourth_img {
  0% {
    -webkit-transform: rotate(45deg) translate3d(-120px, 755px, 0px);
            transform: rotate(45deg) translate3d(-120px, 755px, 0px);
    opacity: .1; }
  30% {
    -webkit-transform: rotate(45deg) translate3d(-120px, 555px, 0px);
            transform: rotate(45deg) translate3d(-120px, 555px, 0px);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
            transform: rotate(45deg) translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes fourth_img {
  0% {
    -webkit-transform: rotate(45deg) translate3d(-120px, 755px, 0px);
            transform: rotate(45deg) translate3d(-120px, 755px, 0px);
    opacity: .1; }
  30% {
    -webkit-transform: rotate(45deg) translate3d(-120px, 555px, 0px);
            transform: rotate(45deg) translate3d(-120px, 555px, 0px);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
            transform: rotate(45deg) translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes fourth_img_1 {
  0% {
    -webkit-transform: translate3d(288px, -905px, 0) rotate(45deg);
            transform: translate3d(288px, -905px, 0) rotate(45deg);
    opacity: .1; }
  30% {
    -webkit-transform: translate3d(288px, -705px, 0px) rotate(45deg);
            transform: translate3d(288px, -705px, 0px) rotate(45deg);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-215px, -502px, 1px) rotate(45deg);
            transform: translate3d(-215px, -502px, 1px) rotate(45deg);
    opacity: 1; } }

@keyframes fourth_img_1 {
  0% {
    -webkit-transform: translate3d(288px, -905px, 0) rotate(45deg);
            transform: translate3d(288px, -905px, 0) rotate(45deg);
    opacity: .1; }
  30% {
    -webkit-transform: translate3d(288px, -705px, 0px) rotate(45deg);
            transform: translate3d(288px, -705px, 0px) rotate(45deg);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-215px, -502px, 1px) rotate(45deg);
            transform: translate3d(-215px, -502px, 1px) rotate(45deg);
    opacity: 1; } }

@-webkit-keyframes fourth_img_2 {
  0% {
    -webkit-transform: rotate(45deg) translate3d(745px, -509px, 0px);
            transform: rotate(45deg) translate3d(745px, -509px, 0px);
    opacity: .1; }
  100% {
    -webkit-transform: rotate(45deg) translate3d(215px, -509px, 0px);
            transform: rotate(45deg) translate3d(215px, -509px, 0px);
    opacity: 1; } }

@keyframes fourth_img_2 {
  0% {
    -webkit-transform: rotate(45deg) translate3d(745px, -509px, 0px);
            transform: rotate(45deg) translate3d(745px, -509px, 0px);
    opacity: .1; }
  100% {
    -webkit-transform: rotate(45deg) translate3d(215px, -509px, 0px);
            transform: rotate(45deg) translate3d(215px, -509px, 0px);
    opacity: 1; } }

@-webkit-keyframes fourth_img_3 {
  0% {
    -webkit-transform: rotate(45deg) translate3d(365px, -717px, 0px);
            transform: rotate(45deg) translate3d(365px, -717px, 0px);
    opacity: .1; }
  100% {
    -webkit-transform: rotate(45deg) translate3d(-294px, -717px, 0px);
            transform: rotate(45deg) translate3d(-294px, -717px, 0px);
    opacity: 1; } }

@keyframes fourth_img_3 {
  0% {
    -webkit-transform: rotate(45deg) translate3d(365px, -717px, 0px);
            transform: rotate(45deg) translate3d(365px, -717px, 0px);
    opacity: .1; }
  100% {
    -webkit-transform: rotate(45deg) translate3d(-294px, -717px, 0px);
            transform: rotate(45deg) translate3d(-294px, -717px, 0px);
    opacity: 1; } }

@-webkit-keyframes bg_move {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 50px 0; }
  100% {
    background-position: 0 0; } }

@keyframes bg_move {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 50px 0; }
  100% {
    background-position: 0 0; } }

@-webkit-keyframes bg_move_1 {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 0 50px; }
  100% {
    background-position: 0 0; } }

@keyframes bg_move_1 {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 0 50px; }
  100% {
    background-position: 0 0; } }

@-webkit-keyframes bg_move_2 {
  0% {
    background-position: 0 110px; }
  50% {
    background-position: 50px 110px; }
  100% {
    background-position: 0 110px; } }

@keyframes bg_move_2 {
  0% {
    background-position: 0 110px; }
  50% {
    background-position: 50px 110px; }
  100% {
    background-position: 0 110px; } }

@-webkit-keyframes fourth_move {
  to {
    top: 29%; } }

@keyframes fourth_move {
  to {
    top: 29%; } }

@-webkit-keyframes fourth_word_sec {
  from {
    left: -20%;
    top: -40%;
    opacity: 1; }
  to {
    left: -20%;
    top: 100%;
    opacity: 1;
    content: "搬屋"; } }

@keyframes fourth_word_sec {
  from {
    left: -20%;
    top: -40%;
    opacity: 1; }
  to {
    left: -20%;
    top: 100%;
    opacity: 1;
    content: "搬屋"; } }

@-webkit-keyframes fourth_word_sec_1 {
  from {
    left: -20%;
    top: -25%;
    opacity: 1; }
  to {
    left: -20%;
    top: 115%;
    opacity: 1;
    content: "从Chinatown搬到Rosemead,房租死贵死贵的。"; } }

@keyframes fourth_word_sec_1 {
  from {
    left: -20%;
    top: -25%;
    opacity: 1; }
  to {
    left: -20%;
    top: 115%;
    opacity: 1;
    content: "从Chinatown搬到Rosemead,房租死贵死贵的。"; } }

@-webkit-keyframes fourth_word_third {
  from {
    left: -20%;
    top: 100%;
    opacity: 1; }
  to {
    left: 130%;
    top: 20%;
    opacity: 1;
    content: "兼职"; } }

@keyframes fourth_word_third {
  from {
    left: -20%;
    top: 100%;
    opacity: 1; }
  to {
    left: 130%;
    top: 20%;
    opacity: 1;
    content: "兼职"; } }

@-webkit-keyframes fourth_word_third_1 {
  from {
    left: -20%;
    top: 115%;
    opacity: 1; }
  to {
    left: 130%;
    top: 35%;
    opacity: 1;
    content: "从零开始做社畜。"; } }

@keyframes fourth_word_third_1 {
  from {
    left: -20%;
    top: 115%;
    opacity: 1; }
  to {
    left: 130%;
    top: 35%;
    opacity: 1;
    content: "从零开始做社畜。"; } }

@-webkit-keyframes fourth_move_sec {
  from {
    top: 29%; }
  to {
    top: 45%;
    left: -47%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }

@keyframes fourth_move_sec {
  from {
    top: 29%; }
  to {
    top: 45%;
    left: -47%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }

@-webkit-keyframes fourth_move_third {
  from {
    top: 45%;
    left: -47%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  to {
    top: 45%;
    left: -130%;
    -webkit-transform: scale(0.8) rotateZ(-450deg);
            transform: scale(0.8) rotateZ(-450deg); } }

@keyframes fourth_move_third {
  from {
    top: 45%;
    left: -47%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  to {
    top: 45%;
    left: -130%;
    -webkit-transform: scale(0.8) rotateZ(-450deg);
            transform: scale(0.8) rotateZ(-450deg); } }

@-webkit-keyframes sessiong_bg_show {
  to {
    opacity: 1; } }

@keyframes sessiong_bg_show {
  to {
    opacity: 1; } }

@-webkit-keyframes _shadow {
  0% {
    text-shadow: -12px 10px 1px grey; }
  50% {
    text-shadow: 8px -10px 2px grey; }
  80% {
    text-shadow: 10px 10px 4px grey; }
  100% {
    text-shadow: -9px 6px 3px grey; } }

@keyframes _shadow {
  0% {
    text-shadow: -12px 10px 1px grey; }
  50% {
    text-shadow: 8px -10px 2px grey; }
  80% {
    text-shadow: 10px 10px 4px grey; }
  100% {
    text-shadow: -9px 6px 3px grey; } }

@-webkit-keyframes words_change {
  0% {
    content: "这一年，曾经努力摆脱现状，想证明个人的价值。"; }
  20% {
    content: "但失败了...致使过完这一事无成的一年，并一直走弯路。"; }
  40% {
    content: "不懂学习的方式...不想接触外界...遇到难题就想逃避"; }
  60% {
    content: "独自去社区大学报名时，在人群中的孤立无助，有口难言..."; }
  80% {
    content: "打着无数的电话求职，独自开车去面试，从新体验着那一份忐忑。"; }
  100% {
    content: "不甘心...却改变不了，又名为失败者的愤怒。"; } }

@keyframes words_change {
  0% {
    content: "这一年，曾经努力摆脱现状，想证明个人的价值。"; }
  20% {
    content: "但失败了...致使过完这一事无成的一年，并一直走弯路。"; }
  40% {
    content: "不懂学习的方式...不想接触外界...遇到难题就想逃避"; }
  60% {
    content: "独自去社区大学报名时，在人群中的孤立无助，有口难言..."; }
  80% {
    content: "打着无数的电话求职，独自开车去面试，从新体验着那一份忐忑。"; }
  100% {
    content: "不甘心...却改变不了，又名为失败者的愤怒。"; } }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: 20px/1.5 Verdana, '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif; }

.container {
  -webkit-perspective: 500px;
          perspective: 500px;
  width: 100%;
  height: 0px;
  float: left;
  -webkit-animation: bg_change .3s linear 19s forwards,bg_change_sec .3s linear 32s forwards,bg_change_third .3s linear 38s forwards,bg_change_fourth .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) 40s forwards,height_change .2s linear 25s forwards;
  animation: bg_change .3s linear 19s forwards,bg_change_sec .3s linear 32s forwards,bg_change_third .3s linear 38s forwards,bg_change_fourth .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) 40s forwards,height_change .2s linear 25s forwards; }
  .container .google_view {
    background: url(../images/google_view.png) 0 0 no-repeat;
    width: 600px;
    height: 350px;
    margin: 100px auto;
    position: relative;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-animation: zoom_out 15s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards,zoom_left 1s steps(3) 8.3s forwards,switch .1s linear 9.3s forwards;
    animation: zoom_out 15s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards,zoom_left 1s steps(3) 8.3s forwards,switch .1s linear 9.3s forwards; }
    .container .google_view .typed {
      width: 9em;
      height: 25px;
      overflow: hidden;
      white-space: nowrap;
      border-right: .05em solid;
      position: absolute;
      bottom: 28%;
      left: 3%;
      -webkit-animation: typing 1s steps(12),caret 1s steps(1) forwards,typing_none 1.7s steps(12) 7.65s forwards;
      animation: typing 1s steps(12),caret 1s steps(1) forwards,typing_none 1.7s steps(12) 7.65s forwards; }
    .container .google_view .type_wait {
      width: 0px;
      height: 25px;
      overflow: hidden;
      border-right: 0em solid;
      position: absolute;
      bottom: 28%;
      left: 33%; }
      .container .google_view .type_wait:nth-child(2) {
        -webkit-animation: typing_back 2s steps(2) 1.50s forwards,caret_sec 2s steps(1) 1.50s forwards;
        animation: typing_back 2s steps(2) 1.50s forwards,caret_sec 2s steps(1) 1.50s forwards; }
      .container .google_view .type_wait:nth-child(3) {
        -webkit-animation: typing_back 2s steps(2) 3.50s forwards,caret_thir 2s steps(1) 3.50s forwards;
        animation: typing_back 2s steps(2) 3.50s forwards,caret_thir 2s steps(1) 3.50s forwards; }
      .container .google_view .type_wait:nth-child(4) {
        -webkit-animation: typing_back 2s steps(2) 5.50s forwards,caret_four 2s steps(1) 5.50s forwards;
        animation: typing_back 2s steps(2) 5.50s forwards,caret_four 2s steps(1) 5.50s forwards; }
  .container .weibo {
    width: 0px;
    position: absolute;
    top: 18%;
    left: 25%;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    opacity: 0;
    -webkit-animation: page_move 3s ease-out 10s forwards,page_move_sec 0.77s ease-in 15.3s forwards;
    animation: page_move 3s ease-out 10s forwards,page_move_sec 0.77s ease-in 15.3s forwards; }
    .container .weibo:before {
      content: "";
      width: 1111px;
      height: 400px;
      position: absolute;
      left: -100px;
      top: -20px;
      -webkit-filter: blur(3px);
              filter: blur(3px);
      background: white;
      -webkit-animation: shade 3s ease-out 10s forwards;
      animation: shade 3s ease-out 10s forwards; }
    .container .weibo .shade {
      position: absolute;
      width: 0%;
      height: 15px;
      font-size: 10px;
      color: #FCFCFC;
      overflow: hidden;
      white-space: nowrap;
      bottom: 38%;
      left: 30%;
      -webkit-animation: words_show 2.5s linear 13s forwards;
      animation: words_show 2.5s linear 13s forwards; }
  .container .session {
    position: absolute;
    top: 635px;
    left: 25%;
    opacity: 0;
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
    -webkit-animation: content_move 3s ease-in 15.3s forwards;
    animation: content_move 3s ease-in 15.3s forwards; }
  .container .session_1 {
    margin: 0 auto;
    width: 285px;
    height: 100px;
    -webkit-animation: session_back 2s linear 21s forwards,session_hide .5s linear 40s forwards;
    animation: session_back 2s linear 21s forwards,session_hide .5s linear 40s forwards; }
    .container .session_1 .ball {
      width: 100px;
      height: 100px;
      background: black;
      margin: 0 auto;
      border-radius: 100px;
      margin: 0 auto;
      opacity: 0;
      -webkit-transform: translate3d(0px, 350px, 0px) scale(1);
              transform: translate3d(0px, 350px, 0px) scale(1);
      -webkit-animation: ball_move 1s ease-in-out 18s forwards,ball_move_sec .8s ease-in-out 19s infinite;
      animation: ball_move 1s ease-in-out 18s forwards,ball_move_sec .8s ease-in-out 19s infinite; }
    .container .session_1 .ball_shade {
      width: 20px;
      height: 2px;
      position: absolute;
      bottom: -378%;
      left: -112.2%;
      border-bottom: 0px solid;
      -webkit-filter: blur(4px);
              filter: blur(4px);
      -webkit-animation: ball_shade .8s ease-in-out 19s infinite;
      animation: ball_shade .8s ease-in-out 19s infinite; }
  .container .session_2 {
    width: 40%;
    height: 500px;
    margin: 10% auto 0;
    text-indent: 20px;
    opacity: 0;
    -webkit-animation: text_show .5s linear 20s forwards,session_back 2s linear 21s forwards,session_hide .5s linear 40s forwards;
    animation: text_show .5s linear 20s forwards,session_back 2s linear 21s forwards,session_hide .5s linear 40s forwards; }
    .container .session_2 li {
      text-shadow: 50px 30px 27px black;
      font-size: 30px; }
  .container .session_3 {
    width: 85%;
    height: 3000px;
    position: absolute;
    left: 15%;
    top: 5%;
    -webkit-animation: p1_move 1s linear 25s forwards,p1_move_sec .5s linear 31s forwards;
    animation: p1_move 1s linear 25s forwards,p1_move_sec .5s linear 31s forwards; }
    .container .session_3 ul.first li {
      float: left;
      width: 300px;
      height: 500px;
      margin: 0 10px;
      list-style: none; }
      .container .session_3 ul.first li:nth-child(1) {
        background: url(../images/1.jpg) 0 0 no-repeat;
        background-size: cover;
        -webkit-transform: translateX(1600px);
                transform: translateX(1600px);
        -webkit-animation: p1_show .3s linear 23s forwards;
        animation: p1_show .3s linear 23s forwards; }
      .container .session_3 ul.first li:nth-child(2) {
        background: url(../images/2.jpg) 0 0 no-repeat;
        background-size: cover;
        -webkit-transform: translateX(1300px);
                transform: translateX(1300px);
        -webkit-animation: p1_show .4s linear 23.3s forwards;
        animation: p1_show .4s linear 23.3s forwards; }
      .container .session_3 ul.first li:nth-child(3) {
        background: url(../images/3.jpg) 0 0 no-repeat;
        background-size: cover;
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        -webkit-animation: p1_show .5s linear 23.7s forwards;
        animation: p1_show .5s linear 23.7s forwards; }
      .container .session_3 ul.first li:nth-child(4) {
        background: url(../images/4.jpg) 0 0 no-repeat;
        background-size: cover;
        -webkit-transform: translateX(700px);
                transform: translateX(700px);
        -webkit-animation: p1_show .6s linear 24.2s forwards;
        animation: p1_show .6s linear 24.2s forwards; }
    .container .session_3 .content {
      display: inline-block;
      width: 85%;
      margin: 50px 0;
      text-align: center;
      font-size: 30px;
      color: #EA4462;
      font-weight: bold;
      -webkit-transform: translateX(1700px);
              transform: translateX(1700px);
      letter-spacing: 5px;
      -webkit-animation: p1_show .5s linear 23.7s forwards;
      animation: p1_show .5s linear 23.7s forwards; }
    .container .session_3 ul.second {
      width: 85%;
      -webkit-perspective: 2000px;
              perspective: 2000px;
      -webkit-animation: p2_move 1s ease-in-out 27s forwards,p2_move_sec 1s ease-in-out 28s forwards,p2_blur .5s linear 30s forwards;
      animation: p2_move 1s ease-in-out 27s forwards,p2_move_sec 1s ease-in-out 28s forwards,p2_blur .5s linear 30s forwards; }
      .container .session_3 ul.second li {
        float: left;
        margin: 10px;
        list-style: none;
        opacity: 0; }
        .container .session_3 ul.second li:before {
          content: "";
          color: black;
          font-size: 100px;
          background: #C5A8AC;
          display: inline-block;
          font-weight: bold;
          padding: 0px;
          width: 100%;
          height: 100%;
          text-align: center;
          border: 1px solid #9A8784;
          -webkit-transform: rotateY(-40deg);
                  transform: rotateY(-40deg);
          opacity: 0;
          -webkit-animation: p2_bg_rotate .3s ease-in-out 29s forwards;
          animation: p2_bg_rotate .3s ease-in-out 29s forwards; }
        .container .session_3 ul.second li:nth-child(1) {
          background: url(../images/P60304-083830.jpg) 0 0 no-repeat;
          background-size: cover;
          width: 600px;
          height: 500px;
          -webkit-transform: translateX(-150px);
                  transform: translateX(-150px);
          -webkit-animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 26s forwards,p2_rorate .2s ease-in-out 29s forwards;
          animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 26s forwards,p2_rorate .2s ease-in-out 29s forwards; }
          .container .session_3 ul.second li:nth-child(1):before {
            content: "趴地";
            line-height: 500px; }
        .container .session_3 ul.second li:nth-child(2) {
          background: url(../images/P60610-092752.jpg) 0 0 no-repeat;
          background-size: cover;
          width: 400px;
          height: 300px;
          -webkit-transform: translateX(150px);
                  transform: translateX(150px);
          -webkit-animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 26s forwards,p2_rorate .2s ease-in-out 29s forwards;
          animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 26s forwards,p2_rorate .2s ease-in-out 29s forwards; }
          .container .session_3 ul.second li:nth-child(2):before {
            content: "合照";
            line-height: 300px; }
        .container .session_3 ul.second li:nth-child(3) {
          background: url(../images/P60421-100056.jpg) 0 0 no-repeat;
          background-size: cover;
          width: 400px;
          height: 180px;
          -webkit-transform: translateX(130px);
                  transform: translateX(130px);
          -webkit-animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 26s forwards,p2_rorate .2s ease-in-out 29s forwards;
          animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 26s forwards,p2_rorate .2s ease-in-out 29s forwards; }
          .container .session_3 ul.second li:nth-child(3):before {
            content: "游行"; }
    .container .session_3 ul.third {
      width: 27%;
      margin: 0 auto; }
      .container .session_3 ul.third li {
        float: left;
        margin: 10px;
        list-style: none;
        background: url(../images/huaji.png) 0 0 no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        -webkit-transform: translateY(300px);
                transform: translateY(300px); }
        .container .session_3 ul.third li:nth-child(1) {
          -webkit-animation: huaji_move_1 .7s ease-out 30s forwards,huaji_move_1_sec 1s ease-in 30.7s forwards;
          animation: huaji_move_1 .7s ease-out 30s forwards,huaji_move_1_sec 1s ease-in 30.7s forwards; }
        .container .session_3 ul.third li:nth-child(2) {
          -webkit-animation: huaji_move_2 .7s ease-out 30s forwards,huaji_move_2_sec 1s ease-in 30.7s forwards;
          animation: huaji_move_2 .7s ease-out 30s forwards,huaji_move_2_sec 1s ease-in 30.7s forwards; }
        .container .session_3 ul.third li:nth-child(3) {
          -webkit-animation: huaji_move_3 .7s ease-out 30s forwards,huaji_move_3_sec 1s ease-in 30.7s forwards;
          animation: huaji_move_3 .7s ease-out 30s forwards,huaji_move_3_sec 1s ease-in 30.7s forwards; }
        .container .session_3 ul.third li:nth-child(4) {
          -webkit-animation: huaji_move_4 .7s ease-out 30s forwards,huaji_move_4_sec 1s ease-in 30.7s forwards;
          animation: huaji_move_4 .7s ease-out 30s forwards,huaji_move_4_sec 1s ease-in 30.7s forwards; }
        .container .session_3 ul.third li:nth-child(5) {
          -webkit-animation: huaji_move_5 .7s ease-out 30s forwards,huaji_move_5_sec 1s ease-in 30.7s forwards;
          animation: huaji_move_5 .7s ease-out 30s forwards,huaji_move_5_sec 1s ease-in 30.7s forwards; }
    .container .session_3 ul.fourth {
      width: 100%;
      height: 700px;
      position: absolute;
      left: 45%;
      top: 61%;
      opacity: 0;
      -webkit-animation: fourth_show .1s linear 31.3s forwards,fourth_move .3s linear 35s forwards,fourth_move_sec .3s linear 37s forwards,fourth_move_third 1s linear 40s forwards;
      animation: fourth_show .1s linear 31.3s forwards,fourth_move .3s linear 35s forwards,fourth_move_sec .3s linear 37s forwards,fourth_move_third 1s linear 40s forwards; }
      .container .session_3 ul.fourth:before {
        content: "学习";
        font-size: 70px;
        width: 50%;
        color: #4B5753;
        height: 50px;
        position: absolute;
        left: -20%;
        top: -40%;
        font-weight: bold;
        opacity: 0;
        -webkit-animation: fourth_word .5s linear 31.5s forwards,fourth_word_sec 1s linear 35s forwards,fourth_word_third .7s linear 38s forwards;
        animation: fourth_word .5s linear 31.5s forwards,fourth_word_sec 1s linear 35s forwards,fourth_word_third .7s linear 38s forwards; }
      .container .session_3 ul.fourth:after {
        content: "后浪推前浪，辞职死在沙滩上";
        font-size: 25px;
        color: #777;
        width: 50%;
        height: 50px;
        position: absolute;
        left: -20%;
        top: -25%;
        opacity: 0;
        -webkit-animation: fourth_word_1 .5s linear 31.5s forwards,fourth_word_sec_1 1s linear 35s forwards,fourth_word_third_1 .7s linear 38s forwards;
        animation: fourth_word_1 .5s linear 31.5s forwards,fourth_word_sec_1 1s linear 35s forwards,fourth_word_third_1 .7s linear 38s forwards; }
      .container .session_3 ul.fourth li {
        float: left;
        margin: 10px;
        list-style: none;
        width: 700px;
        height: 700px;
        -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
                transform: rotate(45deg) translate3d(0, 0, 0);
        overflow: hidden;
        opacity: 0; }
        .container .session_3 ul.fourth li .img {
          width: 750px;
          height: 1000px;
          display: inline-block;
          -webkit-transform: rotate(-45deg) scale(1.6);
                  transform: rotate(-45deg) scale(1.6); }
        .container .session_3 ul.fourth li:nth-child(1) {
          -webkit-animation: fourth_img .5s linear 31.7s forwards;
          animation: fourth_img .5s linear 31.7s forwards; }
          .container .session_3 ul.fourth li:nth-child(1) .img {
            background: url(../images/P60818-152835.jpg) 0 0 no-repeat;
            background-size: 100%;
            -webkit-animation: bg_move 20s linear 32s infinite;
            animation: bg_move 20s linear 32s infinite; }
        .container .session_3 ul.fourth li:nth-child(2) {
          -webkit-transform: translate3d(-215px, -502px, 1px) rotate(45deg);
                  transform: translate3d(-215px, -502px, 1px) rotate(45deg);
          -webkit-animation: fourth_img_1 .5s linear 31.7s forwards;
          animation: fourth_img_1 .5s linear 31.7s forwards; }
          .container .session_3 ul.fourth li:nth-child(2) .img {
            background: url(../images/IMG20160616002433.jpg) 0 0 no-repeat;
            background-size: cover;
            background-position: -88px -170px;
            -webkit-animation: bg_move_1 20s linear 32s infinite;
            animation: bg_move_1 20s linear 32s infinite; }
        .container .session_3 ul.fourth li:nth-child(3) {
          -webkit-transform: rotate(45deg) translate3d(215px, -509px, 0px);
                  transform: rotate(45deg) translate3d(215px, -509px, 0px);
          -webkit-animation: fourth_img_2 .5s linear 35s forwards;
          animation: fourth_img_2 .5s linear 35s forwards; }
          .container .session_3 ul.fourth li:nth-child(3) .img {
            background: url(../images/P60807-111334.jpg) 0 0 no-repeat;
            background-size: cover;
            background-position: 8px -175px;
            -webkit-animation: bg_move_1 20s linear 35s infinite;
            animation: bg_move_1 20s linear 35s infinite; }
        .container .session_3 ul.fourth li:nth-child(4) {
          -webkit-transform: rotate(45deg) translate3d(-294px, -717px, 0px);
                  transform: rotate(45deg) translate3d(-294px, -717px, 0px);
          -webkit-animation: fourth_img_3 .2s linear 38s forwards;
          animation: fourth_img_3 .2s linear 38s forwards; }
          .container .session_3 ul.fourth li:nth-child(4) .img {
            background: url(../images/6a1e8e1bgy1fcgogdggiuj21000qodnf.jpg) 0 0 no-repeat;
            background-size: 115%;
            background-position: 0px 110px;
            -webkit-animation: bg_move_2 20s linear 38s infinite;
            animation: bg_move_2 20s linear 38s infinite; }
  .container .session_4 {
    position: absolute;
    top: -50px;
    opacity: 0;
    -webkit-animation: sessiong_bg_show .2s linear 40s forwards;
    animation: sessiong_bg_show .2s linear 40s forwards; }
    .container .session_4 .video {
      -webkit-filter: blur(10px);
              filter: blur(10px);
      opacity: .9; }
    .container .session_4 .subtitle {
      width: 1500px;
      height: 100px;
      position: absolute;
      top: 40%;
      left: 10%;
      z-index: 999;
      text-align: center; }
      .container .session_4 .subtitle:before {
        content: "这一年，曾经努力摆脱现状，想证明个人的价值。";
        color: white;
        font-size: 50px;
        text-shadow: -4px 2px 1px grey;
        font-weight: bold;
        -webkit-animation: words_change 30s linear 40s forwards,_shadow 5s linear 41s infinite;
        animation: words_change 30s linear 40s forwards,_shadow 5s linear 41s infinite; }
