@charset "UTF-8";
/* 
refer:
https://blog.arvinh.info/2016/08/06/%E5%BF%AB%E9%80%9F%E5%AF%A6%E4%BD%9C-CSS3-%E6%89%93%E5%AD%97%E5%8B%95%E7%95%AB/
http://www.cnblogs.com/dolphinX/p/4087817.html


 */
/* 封装Animation,允许同一元素绑定多个动画 */
@-webkit-keyframes typing {
  0% {
    width: 0; } }

@keyframes typing {
  0% {
    width: 0; } }

@-webkit-keyframes typing_none {
  0% {
    border-right: .05em solid; }
  100% {
    width: 0;
    border-right: .05em solid; } }

@keyframes typing_none {
  0% {
    border-right: .05em solid; }
  100% {
    width: 0;
    border-right: .05em solid; } }

@-webkit-keyframes typing_back {
  30%, 80% {
    width: 40px;
    display: block; }
  100% {
    width: 0px;
    display: none; } }

@keyframes typing_back {
  30%, 80% {
    width: 40px;
    display: block; }
  100% {
    width: 0px;
    display: none; } }

@-webkit-keyframes caret {
  100% {
    border-color: transparent; } }

@keyframes caret {
  100% {
    border-color: transparent; } }

@-webkit-keyframes caret_sec {
  0% {
    border-color: transparent;
    border-right: .05em solid; }
  100% {
    border-color: transparent;
    border-right: 0em solid; } }

@keyframes caret_sec {
  0% {
    border-color: transparent;
    border-right: .05em solid; }
  100% {
    border-color: transparent;
    border-right: 0em solid; } }

@-webkit-keyframes caret_thir {
  0% {
    border-color: transparent;
    border-right: .05em solid; }
  100% {
    border-color: transparent;
    border-right: 0em solid; } }

@keyframes caret_thir {
  0% {
    border-color: transparent;
    border-right: .05em solid; }
  100% {
    border-color: transparent;
    border-right: 0em solid; } }

@-webkit-keyframes caret_four {
  50% {
    border-color: transparent;
    border-right: .05em solid; } }

@keyframes caret_four {
  50% {
    border-color: transparent;
    border-right: .05em solid; } }

@-webkit-keyframes zoom_out {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 100px, 150px);
            transform: translate3d(0px, 100px, 150px); } }

@keyframes zoom_out {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px); }
  100% {
    -webkit-transform: translate3d(0px, 100px, 150px);
            transform: translate3d(0px, 100px, 150px); } }

@-webkit-keyframes zoom_left {
  0% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(1);
            transform: translate3d(0px, 100px, 150px) scale(1); }
  90% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(1.5);
            transform: translate3d(0px, 100px, 150px) scale(1.5); }
  100% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(7);
            transform: translate3d(0px, 100px, 150px) scale(7); } }

@keyframes zoom_left {
  0% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(1);
            transform: translate3d(0px, 100px, 150px) scale(1); }
  90% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(1.5);
            transform: translate3d(0px, 100px, 150px) scale(1.5); }
  100% {
    -webkit-transform: translate3d(0px, 100px, 150px) scale(7);
            transform: translate3d(0px, 100px, 150px) scale(7); } }

@-webkit-keyframes switch {
  to {
    height: 0;
    opacity: 0; } }

@keyframes switch {
  to {
    height: 0;
    opacity: 0; } }

@-webkit-keyframes page_move {
  0% {
    -webkit-transform: rotateZ(7deg) rotateY(8deg) translate3d(200px, -120px, 320px);
            transform: rotateZ(7deg) rotateY(8deg) translate3d(200px, -120px, 320px);
    width: 0;
    opacity: 1; }
  100% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
    width: 921px;
    opacity: 1; } }

@keyframes page_move {
  0% {
    -webkit-transform: rotateZ(7deg) rotateY(8deg) translate3d(200px, -120px, 320px);
            transform: rotateZ(7deg) rotateY(8deg) translate3d(200px, -120px, 320px);
    width: 0;
    opacity: 1; }
  100% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
    width: 921px;
    opacity: 1; } }

@-webkit-keyframes page_move_sec {
  0% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
    width: 921px;
    opacity: 1; }
  100% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -600px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -600px, 320px);
    width: 921px;
    opacity: 1; } }

@keyframes page_move_sec {
  0% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -100px, 320px);
    width: 921px;
    opacity: 1; }
  100% {
    -webkit-transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -600px, 320px);
            transform: rotateZ(4deg) rotateY(3deg) translate3d(-150px, -600px, 320px);
    width: 921px;
    opacity: 1; } }

@-webkit-keyframes shade {
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
            transform: translate3d(1000px, 0px, 0px); } }

@keyframes shade {
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
            transform: translate3d(1000px, 0px, 0px); } }

@-webkit-keyframes words_show {
  100% {
    width: 50%; } }

@keyframes words_show {
  100% {
    width: 50%; } }

@-webkit-keyframes content_move {
  0% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
    opacity: .9; }
  90% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
    opacity: .6;
    -webkit-filter: blur(2px);
            filter: blur(2px); }
  100% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px); } }

@keyframes content_move {
  0% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
    opacity: .9; }
  90% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
    opacity: .6;
    -webkit-filter: blur(2px);
            filter: blur(2px); }
  100% {
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -5000px, 220px);
    opacity: 0;
    -webkit-filter: blur(20px);
            filter: blur(20px); } }

@-webkit-keyframes ball_move {
  0% {
    -webkit-transform: translate3d(0px, -120px, 0px) scale(1);
            transform: translate3d(0px, -120px, 0px) scale(1); }
  20% {
    -webkit-transform: translate3d(0px, 350px, 0px) scale(0.6);
            transform: translate3d(0px, 350px, 0px) scale(0.6); }
  55% {
    -webkit-transform: translate3d(0px, 150px, -100px) scale(0.5);
            transform: translate3d(0px, 150px, -100px) scale(0.5); }
  70% {
    -webkit-transform: translate3d(-120px, 130px, 0px) scale(0.4);
            transform: translate3d(-120px, 130px, 0px) scale(0.4); }
  100% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.4);
            transform: translate3d(-450px, 400px, 0px) scale(0.4); } }

@keyframes ball_move {
  0% {
    -webkit-transform: translate3d(0px, -120px, 0px) scale(1);
            transform: translate3d(0px, -120px, 0px) scale(1); }
  20% {
    -webkit-transform: translate3d(0px, 350px, 0px) scale(0.6);
            transform: translate3d(0px, 350px, 0px) scale(0.6); }
  55% {
    -webkit-transform: translate3d(0px, 150px, -100px) scale(0.5);
            transform: translate3d(0px, 150px, -100px) scale(0.5); }
  70% {
    -webkit-transform: translate3d(-120px, 130px, 0px) scale(0.4);
            transform: translate3d(-120px, 130px, 0px) scale(0.4); }
  100% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.4);
            transform: translate3d(-450px, 400px, 0px) scale(0.4); } }

@-webkit-keyframes ball_move_sec {
  0% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.5);
            transform: translate3d(-450px, 400px, 0px) scale(0.5); }
  50% {
    -webkit-transform: translate3d(-450px, 200px, 0px) scale(0.5);
            transform: translate3d(-450px, 200px, 0px) scale(0.5); }
  100% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.5);
            transform: translate3d(-450px, 400px, 0px) scale(0.5); } }

@keyframes ball_move_sec {
  0% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.5);
            transform: translate3d(-450px, 400px, 0px) scale(0.5); }
  50% {
    -webkit-transform: translate3d(-450px, 200px, 0px) scale(0.5);
            transform: translate3d(-450px, 200px, 0px) scale(0.5); }
  100% {
    -webkit-transform: translate3d(-450px, 400px, 0px) scale(0.5);
            transform: translate3d(-450px, 400px, 0px) scale(0.5); } }

@-webkit-keyframes ball_shade {
  from {
    border-bottom: 5px solid; } }

@keyframes ball_shade {
  from {
    border-bottom: 5px solid; } }

@-webkit-keyframes text_show {
  to {
    opacity: 1; } }

@keyframes text_show {
  to {
    opacity: 1; } }

@-webkit-keyframes session_back {
  100% {
    -webkit-transform: rotate(30deg) translate3d(200px, 200px, -400px);
            transform: rotate(30deg) translate3d(200px, 200px, -400px);
    -webkit-filter: blur(5px);
            filter: blur(5px); } }

@keyframes session_back {
  100% {
    -webkit-transform: rotate(30deg) translate3d(200px, 200px, -400px);
            transform: rotate(30deg) translate3d(200px, 200px, -400px);
    -webkit-filter: blur(5px);
            filter: blur(5px); } }

@-webkit-keyframes p1_show {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes p1_show {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes p1_move {
  to {
    -webkit-transform: translateY(-690px);
            transform: translateY(-690px); } }

@keyframes p1_move {
  to {
    -webkit-transform: translateY(-690px);
            transform: translateY(-690px); } }

@-webkit-keyframes p2_show {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@keyframes p2_show {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes p2_rorate {
  from {
    -webkit-transform: translateX(100px) rotateY(0deg);
            transform: translateX(100px) rotateY(0deg); }
  to {
    -webkit-transform: translateX(0px) rotateY(360deg);
            transform: translateX(0px) rotateY(360deg); } }

@keyframes p2_rorate {
  from {
    -webkit-transform: translateX(100px) rotateY(0deg);
            transform: translateX(100px) rotateY(0deg); }
  to {
    -webkit-transform: translateX(0px) rotateY(360deg);
            transform: translateX(0px) rotateY(360deg); } }

@-webkit-keyframes p2_move {
  to {
    -webkit-transform: translateX(100px);
            transform: translateX(100px); } }

@keyframes p2_move {
  to {
    -webkit-transform: translateX(100px);
            transform: translateX(100px); } }

@-webkit-keyframes p2_move_sec {
  from {
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0); }
  to {
    -webkit-transform: translate3d(100px, -50px, 0);
            transform: translate3d(100px, -50px, 0); } }

@keyframes p2_move_sec {
  from {
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0); }
  to {
    -webkit-transform: translate3d(100px, -50px, 0);
            transform: translate3d(100px, -50px, 0); } }

@-webkit-keyframes p2_bg_rotate {
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: .5; } }

@keyframes p2_bg_rotate {
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: .5; } }

@-webkit-keyframes huaji_move_1 {
  from {
    -webkit-transform: translateY(500px);
            transform: translateY(500px); }
  to {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px); } }

@keyframes huaji_move_1 {
  from {
    -webkit-transform: translateY(500px);
            transform: translateY(500px); }
  to {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px); } }

@-webkit-keyframes huaji_move_2 {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px); }
  to {
    -webkit-transform: translateY(-320px);
            transform: translateY(-320px); } }

@keyframes huaji_move_2 {
  from {
    -webkit-transform: translateY(450px);
            transform: translateY(450px); }
  to {
    -webkit-transform: translateY(-320px);
            transform: translateY(-320px); } }

@-webkit-keyframes huaji_move_3 {
  from {
    -webkit-transform: translateY(400px);
            transform: translateY(400px); }
  to {
    -webkit-transform: translateY(-340px);
            transform: translateY(-340px); } }

@keyframes huaji_move_3 {
  from {
    -webkit-transform: translateY(400px);
            transform: translateY(400px); }
  to {
    -webkit-transform: translateY(-340px);
            transform: translateY(-340px); } }

@-webkit-keyframes huaji_move_4 {
  from {
    -webkit-transform: translateY(350px);
            transform: translateY(350px); }
  to {
    -webkit-transform: translateY(-360px);
            transform: translateY(-360px); } }

@keyframes huaji_move_4 {
  from {
    -webkit-transform: translateY(350px);
            transform: translateY(350px); }
  to {
    -webkit-transform: translateY(-360px);
            transform: translateY(-360px); } }

@-webkit-keyframes huaji_move_5 {
  from {
    -webkit-transform: translateY(300px);
            transform: translateY(300px); }
  to {
    -webkit-transform: translateY(-380px);
            transform: translateY(-380px); } }

@keyframes huaji_move_5 {
  from {
    -webkit-transform: translateY(300px);
            transform: translateY(300px); }
  to {
    -webkit-transform: translateY(-380px);
            transform: translateY(-380px); } }

@-webkit-keyframes huaji_move_1_sec {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px); }
  to {
    -webkit-transform: translateY(300px);
            transform: translateY(300px); } }

@keyframes huaji_move_1_sec {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px); }
  to {
    -webkit-transform: translateY(300px);
            transform: translateY(300px); } }

@-webkit-keyframes huaji_move_2_sec {
  from {
    -webkit-transform: translateY(-320px);
            transform: translateY(-320px); }
  to {
    -webkit-transform: translateY(350px);
            transform: translateY(350px); } }

@keyframes huaji_move_2_sec {
  from {
    -webkit-transform: translateY(-320px);
            transform: translateY(-320px); }
  to {
    -webkit-transform: translateY(350px);
            transform: translateY(350px); } }

@-webkit-keyframes huaji_move_3_sec {
  from {
    -webkit-transform: translateY(-340px);
            transform: translateY(-340px); }
  to {
    -webkit-transform: translateY(400px);
            transform: translateY(400px); } }

@keyframes huaji_move_3_sec {
  from {
    -webkit-transform: translateY(-340px);
            transform: translateY(-340px); }
  to {
    -webkit-transform: translateY(400px);
            transform: translateY(400px); } }

@-webkit-keyframes huaji_move_4_sec {
  from {
    -webkit-transform: translateY(-360px);
            transform: translateY(-360px); }
  to {
    -webkit-transform: translateY(450px);
            transform: translateY(450px); } }

@keyframes huaji_move_4_sec {
  from {
    -webkit-transform: translateY(-360px);
            transform: translateY(-360px); }
  to {
    -webkit-transform: translateY(450px);
            transform: translateY(450px); } }

@-webkit-keyframes huaji_move_5_sec {
  from {
    -webkit-transform: translateY(-380px);
            transform: translateY(-380px); }
  to {
    -webkit-transform: translateY(500px);
            transform: translateY(500px); } }

@keyframes huaji_move_5_sec {
  from {
    -webkit-transform: translateY(-380px);
            transform: translateY(-380px); }
  to {
    -webkit-transform: translateY(500px);
            transform: translateY(500px); } }

html {
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  font: 20px/1.5 Verdana, '游ゴシック', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif; }

.container {
  -webkit-perspective: 500px;
          perspective: 500px;
  width: 100%;
  height: 100%;
  float: left; }
  .container .google_view {
    background: url(../images/google_view.png) 0 0 no-repeat;
    width: 600px;
    height: 350px;
    margin: 100px auto;
    position: relative;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-animation: zoom_out 15s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards,zoom_left 1s steps(3) 8.36s forwards,switch .1s linear 9.35s forwards;
    animation: zoom_out 15s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards,zoom_left 1s steps(3) 8.36s forwards,switch .1s linear 9.35s forwards; }
    .container .google_view .typed {
      width: 9em;
      height: 25px;
      overflow: hidden;
      white-space: nowrap;
      border-right: .05em solid;
      position: absolute;
      bottom: 28%;
      left: 3%;
      -webkit-animation: typing 1s steps(12),caret 1s steps(1) forwards,typing_none 1.7s steps(12) 7.65s forwards;
      animation: typing 1s steps(12),caret 1s steps(1) forwards,typing_none 1.7s steps(12) 7.65s forwards; }
    .container .google_view .type_wait {
      width: 0px;
      height: 25px;
      overflow: hidden;
      border-right: 0em solid;
      position: absolute;
      bottom: 28%;
      left: 33%; }
      .container .google_view .type_wait:nth-child(2) {
        -webkit-animation: typing_back 2s steps(2) 1.50s forwards,caret_sec 2s steps(1) 1.50s forwards;
        animation: typing_back 2s steps(2) 1.50s forwards,caret_sec 2s steps(1) 1.50s forwards; }
      .container .google_view .type_wait:nth-child(3) {
        -webkit-animation: typing_back 2s steps(2) 3.50s forwards,caret_thir 2s steps(1) 3.50s forwards;
        animation: typing_back 2s steps(2) 3.50s forwards,caret_thir 2s steps(1) 3.50s forwards; }
      .container .google_view .type_wait:nth-child(4) {
        -webkit-animation: typing_back 2s steps(2) 5.50s forwards,caret_four 2s steps(1) 5.50s forwards;
        animation: typing_back 2s steps(2) 5.50s forwards,caret_four 2s steps(1) 5.50s forwards; }
  .container .weibo {
    width: 0px;
    position: absolute;
    top: 0;
    left: 25%;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation: page_move 3s ease-out 0s forwards,page_move_sec 0.77s ease-in 5.3s forwards;
    animation: page_move 3s ease-out 0s forwards,page_move_sec 0.77s ease-in 5.3s forwards; }
    .container .weibo:before {
      content: "";
      width: 1111px;
      height: 400px;
      position: absolute;
      left: -100px;
      top: -20px;
      -webkit-filter: blur(8px);
              filter: blur(8px);
      background: white;
      -webkit-animation: shade 3s ease-out 0s forwards;
      animation: shade 3s ease-out 0s forwards; }
    .container .weibo .shade {
      position: absolute;
      width: 0%;
      height: 15px;
      font-size: 10px;
      color: #FCFCFC;
      overflow: hidden;
      white-space: nowrap;
      bottom: 38%;
      left: 30%;
      -webkit-animation: words_show 2.5s linear 3s forwards;
      animation: words_show 2.5s linear 3s forwards; }
  .container .session {
    position: absolute;
    top: 635px;
    left: 25%;
    opacity: 0;
    -webkit-transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
            transform: rotateZ(5deg) rotateY(4deg) translate3d(-440px, -262px, 220px);
    -webkit-animation: content_move 3s ease-in 5.3s forwards;
    animation: content_move 3s ease-in 5.3s forwards; }
  .container .session_1 {
    width: 100%;
    height: 100%;
    -webkit-animation: session_back 2s linear 3s forwards;
    animation: session_back 2s linear 3s forwards; }
    .container .session_1 .ball {
      width: 100px;
      height: 100px;
      background: black;
      margin: 0 auto;
      border-radius: 100px;
      margin: 0 auto;
      -webkit-transform: translate3d(0px, 350px, 0px) scale(1);
              transform: translate3d(0px, 350px, 0px) scale(1);
      -webkit-animation: ball_move 1s ease-in-out 0s forwards,ball_move_sec .8s ease-in-out 1s infinite;
      animation: ball_move 1s ease-in-out 0s forwards,ball_move_sec .8s ease-in-out 1s infinite; }
    .container .session_1 .ball_shade {
      width: 20px;
      height: 2px;
      position: absolute;
      bottom: -385px;
      left: 25.8%;
      border-bottom: 0px solid;
      -webkit-filter: blur(4px);
              filter: blur(4px);
      -webkit-animation: ball_shade .8s ease-in-out 1s infinite;
      animation: ball_shade .8s ease-in-out 1s infinite; }
  .container .session_2 {
    width: 40%;
    height: 500px;
    margin: 10% auto 0;
    text-indent: 20px;
    opacity: 0;
    -webkit-animation: text_show .5s linear 1.8s forwards,session_back 2s linear 3s forwards;
    animation: text_show .5s linear 1.8s forwards,session_back 2s linear 3s forwards; }
    .container .session_2 li {
      text-shadow: 50px 30px 27px black;
      font-size: 30px; }
  .container .session_3 {
    width: 70%;
    height: 2000px;
    overflow: hidden;
    position: absolute;
    left: 15%;
    top: 20%;
    -webkit-animation: p1_move 1s linear 7s forwards;
    animation: p1_move 1s linear 7s forwards; }
    .container .session_3 ul.first li {
      float: left;
      width: 300px;
      height: 500px;
      margin: 0 10px;
      list-style: none; }
      .container .session_3 ul.first li:nth-child(1) {
        background: url(../images/1.jpg) 0 0 no-repeat;
        background-size: cover;
        -webkit-transform: translateX(1600px);
                transform: translateX(1600px);
        -webkit-animation: p1_show .3s linear 5s forwards;
        animation: p1_show .3s linear 5s forwards; }
      .container .session_3 ul.first li:nth-child(2) {
        background: url(../images/2.jpg) 0 0 no-repeat;
        background-size: cover;
        -webkit-transform: translateX(1300px);
                transform: translateX(1300px);
        -webkit-animation: p1_show .4s linear 5.3s forwards;
        animation: p1_show .4s linear 5.3s forwards; }
      .container .session_3 ul.first li:nth-child(3) {
        background: url(../images/3.jpg) 0 0 no-repeat;
        background-size: cover;
        -webkit-transform: translateX(1000px);
                transform: translateX(1000px);
        -webkit-animation: p1_show .5s linear 5.7s forwards;
        animation: p1_show .5s linear 5.7s forwards; }
      .container .session_3 ul.first li:nth-child(4) {
        background: url(../images/4.jpg) 0 0 no-repeat;
        background-size: cover;
        -webkit-transform: translateX(700px);
                transform: translateX(700px);
        -webkit-animation: p1_show .6s linear 6.2s forwards;
        animation: p1_show .6s linear 6.2s forwards; }
    .container .session_3 .content {
      display: inline-block;
      width: 100%;
      margin: 50px 0;
      text-align: center;
      font-size: 30px;
      color: #EA4462;
      font-weight: bold;
      -webkit-transform: translateX(1700px);
              transform: translateX(1700px);
      letter-spacing: 5px;
      -webkit-animation: p1_show .5s linear 5.7s forwards;
      animation: p1_show .5s linear 5.7s forwards; }
    .container .session_3 ul.second {
      -webkit-perspective: 2000px;
              perspective: 2000px;
      -webkit-animation: p2_move 1s ease-in-out 9s forwards,p2_move_sec 1s ease-in-out 10s forwards;
      animation: p2_move 1s ease-in-out 9s forwards,p2_move_sec 1s ease-in-out 10s forwards; }
      .container .session_3 ul.second li {
        float: left;
        margin: 10px;
        list-style: none;
        opacity: 0; }
        .container .session_3 ul.second li:before {
          content: "";
          color: black;
          font-size: 100px;
          background: #C5A8AC;
          display: inline-block;
          font-weight: bold;
          padding: 0px;
          width: 100%;
          height: 100%;
          text-align: center;
          border: 1px solid #9A8784;
          -webkit-transform: rotateY(-40deg);
                  transform: rotateY(-40deg);
          opacity: 0;
          -webkit-animation: p2_bg_rotate .3s ease-in-out 11s forwards;
          animation: p2_bg_rotate .3s ease-in-out 11s forwards; }
        .container .session_3 ul.second li:nth-child(1) {
          background: url(../images/P60304-083830.jpg) 0 0 no-repeat;
          background-size: cover;
          width: 600px;
          height: 500px;
          -webkit-transform: translateX(-150px);
                  transform: translateX(-150px);
          -webkit-animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s forwards,p2_rorate .2s ease-in-out 11s forwards;
          animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s forwards,p2_rorate .2s ease-in-out 11s forwards; }
          .container .session_3 ul.second li:nth-child(1):before {
            content: "趴地";
            line-height: 500px; }
        .container .session_3 ul.second li:nth-child(2) {
          background: url(../images/P60610-092752.jpg) 0 0 no-repeat;
          background-size: cover;
          width: 400px;
          height: 300px;
          -webkit-transform: translateX(150px);
                  transform: translateX(150px);
          -webkit-animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s forwards,p2_rorate .2s ease-in-out 11s forwards;
          animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s forwards,p2_rorate .2s ease-in-out 11s forwards; }
          .container .session_3 ul.second li:nth-child(2):before {
            content: "合照";
            line-height: 300px; }
        .container .session_3 ul.second li:nth-child(3) {
          background: url(../images/P60421-100056.jpg) 0 0 no-repeat;
          background-size: cover;
          width: 400px;
          height: 180px;
          -webkit-transform: translateX(130px);
                  transform: translateX(130px);
          -webkit-animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s forwards,p2_rorate .2s ease-in-out 11s forwards;
          animation: p2_show 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s forwards,p2_rorate .2s ease-in-out 11s forwards; }
          .container .session_3 ul.second li:nth-child(3):before {
            content: "游行"; }
    .container .session_3 ul.third {
      width: 27%;
      margin: 0 auto; }
      .container .session_3 ul.third li {
        float: left;
        margin: 10px;
        list-style: none;
        background: url(../images/huaji.png) 0 0 no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        -webkit-transform: translateY(300px);
                transform: translateY(300px); }
        .container .session_3 ul.third li:nth-child(1) {
          -webkit-animation: huaji_move_1 .7s ease-out 12s forwards,huaji_move_1_sec .5s ease-in 12.7s forwards;
          animation: huaji_move_1 .7s ease-out 12s forwards,huaji_move_1_sec .5s ease-in 12.7s forwards; }
        .container .session_3 ul.third li:nth-child(2) {
          -webkit-animation: huaji_move_2 .7s ease-out 12s forwards,huaji_move_2_sec .5s ease-in 12.7s forwards;
          animation: huaji_move_2 .7s ease-out 12s forwards,huaji_move_2_sec .5s ease-in 12.7s forwards; }
        .container .session_3 ul.third li:nth-child(3) {
          -webkit-animation: huaji_move_3 .7s ease-out 12s forwards,huaji_move_3_sec .5s ease-in 12.7s forwards;
          animation: huaji_move_3 .7s ease-out 12s forwards,huaji_move_3_sec .5s ease-in 12.7s forwards; }
        .container .session_3 ul.third li:nth-child(4) {
          -webkit-animation: huaji_move_4 .7s ease-out 12s forwards,huaji_move_4_sec .5s ease-in 12.7s forwards;
          animation: huaji_move_4 .7s ease-out 12s forwards,huaji_move_4_sec .5s ease-in 12.7s forwards; }
        .container .session_3 ul.third li:nth-child(5) {
          -webkit-animation: huaji_move_5 .7s ease-out 12s forwards,huaji_move_5_sec .5s ease-in 12.7s forwards;
          animation: huaji_move_5 .7s ease-out 12s forwards,huaji_move_5_sec .5s ease-in 12.7s forwards; }
