// Keyframes


@include keyframes(typing){
	0%{ width: 0; }
}
@include keyframes(typing_back){
	30%,80%{ width: 40px;display:block; }
	100%{ width: 0px;display:none; }
}
@include keyframes(caret){
	// 50%{ border-color:transparent; }
	100%{ border-color:transparent; }
}
@include keyframes(caret_sec){
	0%{ border-color:transparent; border-right: .05em solid; }
	100%{ border-color:transparent; border-right: 0em solid; }
}
@include keyframes(caret_thir){
	0%{ border-color:transparent; border-right: .05em solid; }
	100%{ border-color:transparent; border-right: 0em solid; }
}
@include keyframes(caret_four){
	50%{ border-color:transparent;border-right: .05em solid; }
}