// Mixins

/* 封装Animation,允许同一元素绑定多个动画 */
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

/* 为属性绑定浏览器前缀 */
@mixin prefix($property,$value){
    -webkit-#{$property}:$value;
    -moz-#{$property}:$value;
    -o-#{$property}:$value;
    -ms-#{$property}:$value;
}